{% extends "transport/base_check_right.html" %}
{% load staticfiles %}
{% block l_title %}安全鉴定 → 细部震损信息{% endblock %}
{% block body_block_content %}
<div class="body">
  <ul class="sidebar left">
    <li class="pass">
      <div class="item"><a href="checkup">选择地震信息</a></div>
      <div class="num">1</div>
      <div class="arrow"></div>
    </li>
    <li class="pass">
      <div class="item"><a href="checkup2">选择结构类型</a></div>
      <div class="num">2</div>
      <div class="arrow"></div>
    </li>
    <li class="pass">
      <div class="item"><a href="checkup3">建筑物基本信息</a></div>
      <div class="num">3</div>
      <div class="arrow"></div>
    </li>
    <li class="pass">
      <div class="item"><a href="checkup4">预期地震/环境信息</a></div>
      <div class="num">4</div>
      <div class="arrow"></div>
    </li>
    <li class="hover">
      <div class="item"><a href="checkup5">细部震损信息</a></div>
      <div class="num">5</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup6">生成鉴定结果</a></div>
      <div class="num">6</div>
      <div class="arrow"></div>
    </li>
  </ul>
  <div class="content right">
    <div class="title left">细部震损信息【<span>建筑物类型：{{struct}}</span>】</div>
    <div class="help right"> <!-- <img style="vertical-align:text-bottom;" src="{% static 'img/p.png'%}"><a href="javascript:;">导入图片</a> <img style="vertical-align:text-bottom;" src="{% static 'img/v.png'%}"><a href="javascript:;">导入视频</a> -->
      <img style="vertical-align:text-bottom;" src="{%static 'img/help.png'%}"><a href="javascript:;" class="helptip">帮助信息</a>
      <div class="tipinfo">
        <div class="arrow_top"><img src="{%static 'img/arrow_top.png'%}" /></div>
        <div class="htip">
          主要功能：针对被鉴定建筑物的结构类型，选择相关的震损状态信息,从而进行安全鉴定。<br>
        使用方法介绍如下： <br>
        1.  当点击左边框中不同部位中的不同子因素时，右边滑动窗口的顶部会定位到该子因素所指定的选择框的集合，同时左边框标题的标记发生变化，表示该子因素已经做过选择。<br>
        2.  根据左侧框中各种不同的部位选择评价系数对应的条件，对于每一种部位的每种因素选择方式是数量与程度的组合排列，并且数量与程度每次只能分别选择一种情况或都不选，于是有十种选择方式：无震损，即都不选；个别、轻微;个别、中等;个别、严重; 少数、轻微;少数、中等;少数、严重;多数、轻微;多数、中等;多数、严重。<br>
        3.  “无震损”按钮：当选择以上除第一种组合的其他任一种组合后，发现应该是第一组合形式，既无震损的情况，此时可以点击该按钮来取消选择的情况。<br>
        4.  微调功能：每个子因素均有微调功能，微调功能选项受“描述”部分的限制，当描述部分有内容时，该部分显示亮色，此时可以对描述部分的内容对应的评价系数值进行设定，设定方式：可以直接输入评价系数值，或按0.03的微调量进行递增或递减，否则，该部分显示暗色，表示不可操作。<br>
        5.  下面固定窗体中显示的是上面选择的内容，当选择某种震损情况时该窗体中会立即显示出相应的震损内容。<br>
        6.  “帮助”按钮指的是对相应子因素的震损情况的详细说明，当点击该按钮时，会出现“查看”、“编辑”两种情况，即可以查看或更新相应的震损情况的帮助文档，但进行更新操作时有权限的限制。<br>
        7.   “安全鉴定”按钮：当被鉴定建筑物的震损信息输入完成后，点击“安全鉴定”即可对建筑物进行安全鉴定，同时界面跳转到鉴定结果界面，得到整体震损指数，破坏等级，房屋是否可用等情况。
          <p class="more"><a href="javascript:;">进入帮助详情</a></p>
        </div>
      </div>
     </div>
    <div class="clearfix"></div>
    <div class="dcontent">
      <div class="bar left">
        <div class="btn"><a href="javascript:;"><img src="{%static 'img/prefect.png'%}" /></a><a href="javascript:;"><img src="{% static 'img/break.png'%}" /></a></div>
        <ul class="baritems">
          {% if locationObj %}
            {%for item in locationObj %}
              <li>
                <h3 class="h31">{{item.location_name}}</h3>
                {% for item1 in catalogObj%}
                  {% if item1.catalog_locationid.location_name == item.location_name%}
                    <p class="localmark" id="{{item1.catalog_name}}">{{item1.catalog_name}} </p>
                  {%endif%}
                {%endfor%}  
              </li>
            {%endfor%}
          {%endif%}
        </ul>
      </div>
      <div id="dinfoselect" class="dinfo right">
         {% if locationObj %}
            {%for item in locationObj %}
              {%if forloop.first%}
                  <div id = "{{item.location_name}}" class="locationcontentmark">
              {%else%}
                  <div id = "{{item.location_name}}" class="locationcontentmark" style="display:none">
              {%endif%}
                {% for item1 in catalogObj%}
                  {% if item1.catalog_locationid.location_name == item.location_name%}
                    <div class="title">{{item1.catalog_name}}</div>
                        {% for it in sublocalObj%}
                          {% if it.sublocal_sublocationcatalog.catalog_name == item1.catalog_name%}
                               <div class="dlisf" id="dlisf{{it.sublocal_id}}" data="{{it.sublocal_id}}">
                                    <div class="htitle"> <span class="left">{{it.sublocal_name}}</span> <span class="right"><a href="javascript:;" class="wzs" data="zzl"><img src="{%static 'img/nok.png'%}" data="zzl" />无震损</a> <a href="help" target="_blank"><img src="{%static 'img/nhelp.png'%}" />帮助</a></span> </div>
                                    <div class="item" id="{{it.sublocal_id}}" data="zzl">
                                      <div class="clearfix"></div>
                                      <fieldset class="fieldsetborder">
                                        <legend>数量</legend>
                                        <input type="radio" class="cinfoi" name="{{it.sublocal_id}}nn" value="个别" />个别
                                        <input type="radio" class="cinfoi" name="{{it.sublocal_id}}nn" value="少数" />少数
                                        <input type="radio" class="cinfoi" name="{{it.sublocal_id}}nn" value="多数" />多数
                                      </fieldset>
                                      <fieldset class="fieldsetborder">
                                        <legend>程度</legend>
                                        <input type="radio" class="cinfoi" name="{{it.sublocal_id}}nl" value="轻微" />轻微
                                        <input type="radio" class="cinfoi" name="{{it.sublocal_id}}nl" value="中等" />中等
                                        <input type="radio" class="cinfoi" name="{{it.sublocal_id}}nl" value="严重" />严重
                                      </fieldset>
                                      <img src="{% static 'img/plus.png'%}" class="addline"/>
                                      <div class="linetip" style="display: none;">
                                          <div class="arrow_top"><img src="{% static 'img/arrow_top.png'%}"></div>
                                          <div class="htip">
                                            <p>添加新的数量程度描述</p>
                                          </div>
                                      </div>
                                      <div>
                                        <label>描述</label>
                                        <input type="text" class="tb" placeholder="[备注]" />
                                        <div class="ccvs">
                                          <input type="text" disabled="disabled" class="ts n" id="ts{{it.sublocal_id}}" value="0" />
                                          <div class="pl5min" disabled="disabled"> <img src="{% static 'img/select_bup.png'%}" class="plus" data="{{it.sublocal_id}}" /><img src="{% static 'img/select_bdown.png'%}" class="minus" data="{{it.sublocal_id}}" /> </div>
                                        </div>
                                      </div>       
                                     </div>
                                </div>
                          {%endif%}
                        {%endfor%}
                  {%endif%}
                {%endfor%}  
                 </div>
                {%endfor%}
          {%endif%}
        </div>

         <!-- minline -->
 
        <div class="dlisf" style="display: none;" id="ss">
          <div class="item" id="mzzl" data="mzzl" >
            <div class="clearfix"></div>
            <fieldset class="fieldsetborder" id="count">
              <legend>数量</legend>
              <input type="radio" class="cinfoi" name="" value="个别" />个别
              <input type="radio" class="cinfoi" name="" value="少数" />少数
              <input type="radio" class="cinfoi" name="" value="多数" />多数
            </fieldset>
            <fieldset class="fieldsetborder" id="degree">
              <legend>程度</legend>
              <input type="radio" class="cinfoi" name="" value="轻微" />轻微
              <input type="radio" class="cinfoi" name="" value="中等" />中等
              <input type="radio" class="cinfoi" name="" value="严重" />严重
            </fieldset>
            <img src="{% static 'img/minus.png'%}" class="minline"/>
            <div class="linetip" style="display: none;">
                <div class="arrow_top"><img src="{% static 'img/arrow_top.png'%}"></div>
                <div class="htip">
                  <p>删除该条数量程度描述</p>
                </div>
              </div>
            <div>
              <label>描述</label>
              <input type="text" class="tb" placeholder="[备注]" />
              <div class="ccvs">
                <input type="text" disabled="disabled" class="ts n" id="" value="0" />
                <div class="pl5min" disabled="disabled"> <img src="{% static 'img/select_bup.png'%}" class="plus" data="" /><img src="{% static 'img/select_bdown.png'%}" class="minus" data="" /> </div>
              </div>
            </div>
          </div>
        </div>        



      <div id="dinfotip" class="dinfo right">
      	<div class="bg"></div>
        <div class="tip" id="iii">
          <h3 class="zzls czzls">【填充墙、围护墙（非剪力墙）和隔墙】</h3>
          
          <p class="zzls">--填充墙、围护墙（非剪力墙）、隔墙有斜裂缝或X型裂缝</p>
          <div id="zzli" class="zzls">
          <p class="i zzli">『<span class="nl"></span>』 - 『备注：<span class="bz"></span>』 - 『<span class="ns">0</span>』</p>
          </div>
          
          <p class="czzls">--填充墙、围护墙（非剪力墙）、隔墙与框架间有裂缝（水平裂缝或垂直裂缝）</p>
          <div id="czzli" class="czzls">
          <p class="i czzli">『<span class="nl"></span>』 - 『备注：<span class="bz"></span>』 - 『<span class="ns">0</span>』</p>
          </div>
          
          <h3 class="lzls">【非主要支撑柱（构造柱）】</h3>
          <p class="lzls">--非主要支撑柱（构造柱）出现裂缝</p>
          <div id="lzli" class="lzls">
          <p class="i lzli">『<span class="nl"></span>』 - 『备注：<span class="bz"></span>』 - 『<span class="ns">0</span>』</p>
          </div>
          
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <form method="post" action="check5" name="form1">
            <div id="note">
            {% if locationObj %}
              {%for item in locationObj %}
                {% for item1 in catalogObj%}
                  {% if item1.catalog_locationid.location_name == item.location_name%}
                    {% for it in sublocalObj%}
                      {% if it.sublocal_sublocationcatalog.catalog_name == item1.catalog_name%}
                         <input type="text"  placeholder="{{it.sublocal_name}}" name="{{it.sublocal_name}}"/>
                      {%endif%}
                     {%endfor%}
                  {%endif%}
              {%endfor%}  
            {%endfor%}
          {%endif%}
        </div>
          <div class="next"><a href="checkup4"><img src="{% static 'img/prev.png'%}" /></a><a href="javascript:void(0)"  onclick="checkcommit()"><img src="{% static 'img/end.png'%}" /></a></div>

    </form>
  
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}
