{% extends "transport/base_check_right.html" %}
{% load staticfiles %}
{% block l_title %}安全鉴定 → 选择地震信息{% endblock %}
{% block css%}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" charset="utf-8" />
<link href="{% static 'css/introjs.css' %}" type="text/css" rel="stylesheet" />
<link href="{% static 'css/checkup.css' %}" type="text/css" rel="stylesheet" />{%endblock%}
{% block body_block_content %}
<div class="modal fade" id="myEqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h6 class="modal-title" id="myModalLabel">地震信息详情:</h6>
          </div>
          <div class="modal-body">
             <fieldset class="infotable fieldsetborder">
      <legend>地震信息</legend>
      <table>
        <tr>
          <td class="t">地震编号：</td>
          <td colspan="3" class="c3 hb" name="bianhao" id="eqid_mt" value="{{obj.eq_earthquakeid}}">{{obj.eq_earthquakeid}}</td>
          <td class="t">地震名称：</td>
          <td colspan="3" class="c3 hb" name="bianhao">{{obj.eq_earthquakename}}</td>
        </tr>
        <tr>
          <td class="t">发震日期：</td>
          <td class="c1"  name="bianhao">{{obj.eq_date|date:"Y-m-d"}}</td>
          <td class="t">发震时间(24h)：</td>
          <td class="c1"  name="bianhao">{{obj.eq_time|date:"H:i:s"}}</td>
          <td class="t">震源深度(km)：</td>
          <td class="c1"  name="bianhao">{{obj.eq_focaldepth}}</td>
          <td class="t">地震等级(里氏)：</td>
          <td class="c1"  name="bianhao">{{obj.eq_magnitude}}</td>
        </tr>
        <tr>
          <td class="t">震中经度(°)：</td>
          <td class="c1"  name="bianhao">{{obj.eq_focallongitude}}</td>
          <td class="t">震中纬度(°)：</td>
          <td class="c1"  name="bianhao">{{obj.eq_focallatitude}}</td>
          <td class="t">震中烈度：</td>
          <td colspan="3"  name="bianhao">{{obj.eq_epicentralintensity}}</td>
        </tr>
        <tr>
          <td class="t">发震地点：</td>
          <td colspan="7" class="c1" name="bianhao"> {{obj.eq_location}}</td>
        </tr>
        <tr>
          <td class="t">备注说明：</td>
          <td colspan="7" class="c7"><textarea disabled="disabled" style="width:90%; height:70px; padding:10px; resize:none;"  name="bianhao">{{obj.eq_remark}}</textarea> </td>
        </tr>
      </table>
    </fieldset>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btbtn btbtn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btbtn btbtn-primary" id="eq_confirm">确定</button>
          </div>
        </div>
      </div>
    </div>
<div class="body">
  <ul class="sidebar left">
    <li class="hover">
      <div class="item"><a href="checkup">选择地震信息</a></div>
      <div class="num">1</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup2">选择结构类型</a></div>
      <div class="num">2</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup3">建筑物基本信息</a></div>
      <div class="num">3</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup4">预期地震/环境信息</a></div>
      <div class="num">4</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup5">细部震损信息</a></div>
      <div class="num">5</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup6">生成鉴定结果</a></div>
      <div class="num">6</div>
      <div class="arrow"></div>
    </li>
  </ul>
  <div class="content right">
    <div class="title left" id="select_earthquake_info">选择地震信息</div>
    <div class="help right" id="help_tip"> <img src="{% static 'img/help.png' %}" style="vertical-align:text-bottom;" /><a href="javascript:;" class="helptip">帮助信息</a>
      <div class="tipinfo">
        <div class="arrow_top"><img src="{% static 'img/arrow_top.png' %}" /></div>
        <div class="htip">
          主要功能：被鉴定建筑物所属地震进行选择输入 。<br>
        使用方法介绍如下： <br>
        1.  地震信息显示：缓存地震/已选择地震的基本信息，包括地震编号、地震名称、发震日期、发震时间、震源深度、地震等级、震中经度、震中纬度、震中烈度、震源机制以及备注说明。<br>
        2.  选择其它地震：当前页面中蓝底色显示的为页面上方地震信息显示的地震。用户可以选择被鉴定建筑物所属地震，可以通过筛选条件搜索选择。<br>
        3.  地震信息在后台进行管理。<br>
        4.  点击“下一步”，进入选择结构类型界面。<br>
          <p class="more"><a href="/t/help#help32" target="_blank">进入帮助详情</a></p>
        </div>
      </div>
    </div>
    <div style="width: 100%; height: 300px;float:left" >
      <div id="allmap" style="width: 100%; height: 300px"></div>
     </div>
    <div class="sothert left">选择其它地震 </div>
    <div class="right search" id="select_search">
      <label>筛选条件：</label>
      <select class="select" name = "search_tiaojian">
        {% if sele%}
          <option value="{{sele}}" selected="selected">{{selector}}</option>
        {% endif%}
        <option value='eq_earthquakeid'>地震编号</option>
        <option value='eq_earthquakename'>地震名称</option>
        <option value='eq_magnitude'>地震震级</option>
        <option value='eq_epicentralintensity'>震中烈度</option>
        <option value='eq_focaldepth'>震源深度</option>
      </select>
      <input type="text" class="text" value="{%if zhi%}{{zhi}}{%endif%}" name = "search_value"/>
      <input type="submit" class="btn" id= "search_btn" value="搜索" onclick="check1()"/>
    </div>
    <div class="clearfix"></div>
    <div class="infolist" id="select_list">
      <form method="post" name="form1" action="checkup">
      <table class="infolisttable" id="infolistbg">
        <tr>
          <th class="f"></th>
          <th>地震编号</th>
          <th>地震名称</th>
          <th>发震时间</th>
          <th>震源深度</th>
          <th>地震震级</th>
          <th>震中经度</th>
          <th>震中纬度</th>
          <th>震中烈度</th>
        </tr>
        {%if item%}
            {%for i in item%}
              <tr>
                  {% if forloop.first%}
                   <td class="f"><input type="radio" name="infolist" checked="true" value="{{i.eq_earthquakeid}}"/></td>
                  {%else%}
                    <td class="f"><input type="radio" name="infolist" value="{{i.eq_earthquakeid}}"/></td>
                  {%endif%}
                 <td>{{i.eq_earthquakeid}}</td>
                 <td><a href="javascript:void(0)" onclick="showModel('{{i.eq_earthquakeid}}')">{{i.eq_earthquakename}}</a></td>
                 <td>{{i.eq_date|date:"Y-m-d"}} {{i.eq_time|date:"H:i:s"}}</td>
                 <td>{{i.eq_focaldepth}}</td>
                 <td>{{i.eq_magnitude}}</td>
                 <td>{{i.eq_focallongitude}}</td>
                 <td>{{i.eq_focallatitude}}</td>
                 <td>{{i.eq_epicentralintensity}}</td>
            {%endfor%}
          </tr>
        {%endif%}
        
      </table>
      {%if nodata%}
        无数据
        {% endif%}
    </div>
     <ul class="page right" id="pagestyle">
    {% if item.has_previous %}
        <li> <a  title='上一页' onclick="checkpage('?page={{ item.previous_page_number }}')" ><span>&lt;&lt;</span></a></li>
    {% endif %}
    {% for page in item.paginator.page_range %}
        {% if page = item.number %}
           <li>  <a  title='当前页:{{ page }}'><span>{{ page }}</span></a></li>
        {% else %}
            <li>  <a  title='{{ page }}' onclick="checkpage('?page={{page }}')"><span>{{ page }}</span></a></li>
         {% endif %}
    {% endfor %}
    {% if item.has_next %}
         <li> <a  title='下一页' href='?page={{ item.next_page_number }}'><span>&gt;&gt;</span></a></li>
    {% endif %}
    </ul>

    <div class="next">
      <a onclick = "document.form1.submit();return false;"><img id="next_step" src="{% static 'img/next.png' %}" /></a>
   </div>
  </form>
  </div>
</div>
{% endblock %}
{% block js1%}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=C8f480cdbffe145af5b60e16a0639255"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<script type="text/javascript"  src="{% static 'script/checkup.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/bootstrap.min.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/intro.js'%}"></script> 
<script type="text/javascript">
      function startIntro(){
        var intro = introJs();
          intro.setOptions({
            steps: [
              {
                element: '#select_earthquake_info',
                intro: "请选择被鉴定建筑物所属地震",
				     position: 'bottom'
              },
              {
                element: '#allmap',
                intro: "可在地图上选择地震信息",
                position: 'bottom'
              },
              {
                element: '#select_list',
                intro: '也可在列表中选择地震信息，点击地震名称可获取地震详情',
                position: 'bottom'
              },
              {
                element: '#select_search',
                intro: "选择查询条件，可实现地震的模糊匹配查询",
                position: 'bottom'
              },
              {
                element: '#help_tip',
                intro: '如仍有疑问，帮助信息帮您解答',
					 position: 'bottom'
              },
              {
                element: '#next_step',
                intro: '点击“下一步”进入选择结构类型界面',
					  position: 'bottom'
              }
            ]
          });

          intro.start();
      }
	  
	  function get_cookie(Name) 
{ 
   var search = Name + "=" 
   var returnvalue = ""; 
   if (document.cookie.length > 0) { 
     offset = document.cookie.indexOf(search) 
     if (offset != -1) {                            
// 如果指定的cookie已经存在
        offset += search.length                     
// 长度指定到cookie值的位置               
        end = document.cookie.indexOf(";", offset); 
// 判断是否还包括其他cookie值
        if (end == -1)                              
//如果不包括
           end = document.cookie.length;            
//获取cookie的长度
        returnvalue=unescape(document.cookie.substring(offset, end)) 
//获取cookie的值
      } 
   }   
   return returnvalue; 
} 
function loadpopup(){ 
  if (get_cookie("popped")=="yes"){                   
//判断是否已经弹出过窗口
     startIntro()                                  
//如果没有则弹出窗口
     document.cookie="popped=yes"                  
//设置cookie值
    } 
}
loadpopup();
    </script>
{% endblock %}