{% extends "transport/base_check_right.html" %}
{% load staticfiles %}
{% block l_title %}安全鉴定 → 建筑物基本信息{% endblock %}
{% block css%}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" charset="utf-8" />
<link href="{% static 'css/checkup.css' %}" type="text/css" rel="stylesheet" />{%endblock%}
{% block body_block_content %}


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">请输入建筑物所在地址</h4>
          </div>
          <div class="modal-body">
            <div id="r-result" style="font-size:18px;TEXT-ALIGN: center;">建筑物地址:<input type="text" class="suggest" id="suggestId" placeholder="请输入建筑物地址并从下拉框选择准确位置"/></div>
            <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
            <div id="allmap"></div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btbtn btbtn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btbtn btbtn-primary" id="map_confirm">确定</button>
          </div>
        </div>
      </div>
    </div>
<div class="body">
  <ul class="sidebar left">
    <li class="pass">
      <div class="item"><a href="checkup">选择地震信息</a></div>
      <div class="num">1</div>
      <div class="arrow"></div>
    </li>
    <li class="pass">
      <div class="item"><a href="checkup2">选择结构类型</a></div>
      <div class="num">2</div>
      <div class="arrow"></div>
    </li>
    <li class="hover">
      <div class="item"><a href="checkup3">建筑物基本信息</a></div>
      <div class="num">3</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup4">预期地震/环境信息</a></div>
      <div class="num">4</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup5">细部震损信息</a></div>
      <div class="num">5</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup6">生成鉴定结果</a></div>
      <div class="num">6</div>
      <div class="arrow"></div>
    </li>
  </ul>
 <form method="post" action="checkup3" name="form1">
  <div class="content right">
    <div class="title left">建筑物基本信息【<span>建筑物类型：{{structtypename}}</span>】</div>
    <div class="help right"> <!-- <img style="vertical-align:text-bottom;" src="{%static 'img/p.png'%}"><a href="javascript:;">导入图片</a> <img style="vertical-align:text-bottom;" src="{%static 'img/v.png'%}"><a href="javascript:;">导入视频</a> --> <img style="vertical-align:text-bottom;" src="{%static 'img/help.png'%}"><a href="javascript:;" class="helptip">帮助信息</a>
      <div class="tipinfo">
        <div class="arrow_top"><img src="{%static 'img/arrow_top.png'%}" /></div>
        <div class="htip">
          主要功能：对所选择结构的建筑物基本信息进行输入，或在页面缓存的基础上对建筑物基本信息进行修改。<br>
        使用方法介绍如下： <br>
        1.  建筑物基本信息：标题后方字体显示为所选择的建筑物结构类型，基本信息包括基本信息、建筑物用途、建筑物位置、参数地区选择和抗震设防状况。<br>
        2.  建筑物编号、栋数、建成年份、建筑物名称、房主、建筑面积、建筑物主体层数和局部层数：这些信息除了建筑物编号都是需要您根据新的鉴定具体进行选择或输入，其中房屋编号是自动获得的，其命名规则为：结构类型简称 +鉴定人员编码+地震编号+鉴定日期和实践+鉴定人员对这次鉴定的编号组成的字符串。<br>
        3.  建筑物用途：这里是根据具体的鉴定对象选择与其一致的用途，用途一次只能选择一种。<br>
        4.  建筑物位置：包括建筑物所在经纬度、建筑物地点、行政区编码。中心经纬度可点击“获取中心经纬度按钮”自动获取；点击“切换为度分秒/度格式”可以再输入经纬度时切换输入格式。建筑物地点在经纬度的基础上自动获取，用户可以在自动获取的基础上修改。行政区编码为自动获取，点击“查询”按钮，可以查询修改。<br>
        5.  抗震设防状况：有两种选择，有抗震设防时选择抗震设防，否则选择未经抗震设防。<br>
        6.  抗震设防烈度：只有在抗震设防状况中选择抗震设防时才有必要选择也只有此时才能够选择抗震设防烈度。<br>
        7.  图片、视频：页面的右侧为输入建筑物图片和视频的按钮，图片是现场鉴定的一些有用的图片，用户可以点击进行输入，同时可以实时点击播放图片。视频是对安全鉴定有用的视频输入，用户输入后可以实时查看。<br>
        8.  点击“下一步”，进入环境信息/预期地震界面。<br>
          <p class="more"><a href="javascript:;">进入帮助详情</a></p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="base">
     
      <div class="ctitle">基本信息</div>
      <div class="ctext">
        <div class="inline">
          <label>建筑物编号：</label>
          <span class="idn">{%if number%}{{number}}{% else%}{{building.building_buildnumber}}{% endif%}</span>
          <input name="build_id" type="hidden" value="{%if number%}{{number}}{% else%}{{building.building_buildnumber}}{% endif%}">
        </div>
        <div class="inline">
          <label><span>*</span>栋数</label>
          <input type="text" class="tb n" id="tsccvn" name="build_num" value="{{building.building_number}}" />
          <div class="plmin"> <img src="{% static 'img/select_aup.png'%}" class="plus" data="ccvn" /><img src="{% static 'img/select_adown.png'%}" class="minus" data="ccvn" /> </div>
          <input type="button" class="btnbg bt" id="tipbtn" value="提示" />
          <div class="btntipinfo btntip" style="display: none;">
                <div class="arrow_top"><img src="{% static 'img/arrow_top.png'%}"></div>
                <div class="htip">
                  <p>当要鉴定的建筑物完全一致时（图纸、施工等），在此可以选择多栋。</p>
                </div>
              </div>
        </div>
        <div class="inline">
          <label>建成年份</label>
          <input type="text" class="selectskin tb" id="sskin_y" name="build_year" value="{{building.building_buildyear}}"/>
          <img src="{% static 'img/select_arrow.png'%}" class="sbtn">
          <select  class="tb y setinput sbtns"  data="sskin_y">
            <option>60年代</option>
            <option>70年代</option>
            <option>80年代</option>
            <option>90年代</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            <option>2007</option>
            <option>2006</option>
            <option>2005</option>
            <option>2004</option>
            <option>2003</option>
            <option>2002</option>
            <option>2001</option>
            <option>2000</option>
            <option>1999</option>
            <option>1998</option>
            <option>1997</option>
            <option>1996</option>
            <option>1995</option>
            <option>1994</option>
            <option>1993</option>
            <option>1992</option>
            <option>1991</option>
            <option>1990</option>
            <option>1989</option>
            <option>1988</option>
            <option>1987</option>
            <option>1986</option>
            <option>1985</option>
            <option>1984</option>
            <option>1983</option>
            <option>1982</option>
            <option>1981</option>
            <option>1980</option>
            <option>1979</option>
            <option>1978</option>
            <option>1977</option>
            <option>1976</option>
            <option>1975</option>
            <option>1974</option>
            <option>1973</option>
            <option>1972</option>
            <option>1971</option>
            <option>1970</option>
            <option>1969</option>
            <option>1968</option>
            <option>1967</option>
            <option>1966</option>
            <option>1965</option>
            <option>1964</option>
            <option>1963</option>
            <option>1962</option>
            <option>1961</option>
            <option>1960</option>
            <option>1959</option>
            <option>1958</option>
            <option>1957</option>
            <option>1956</option>
            <option>1955</option>
            <option>1954</option>
            <option>1953</option>
            <option>1952</option>
            <option>1951</option>
            <option>1950</option>
          </select>
        </div>
        <div class="inline">
          <label><span>*</span>建筑物名称</label>
          <input type="text" class="tb name" name = "build_name" value="{{building.building_buildname}}"/>
        </div>
        <div class="inline">
          <label>房主</label>
          <input type="text" class="tb u" name= "build_hostname" value="{{building.building_househostname}}"/>
        </div>
        <div class="inline">
          <label>建筑面积</label>
          <input type="text" class="tb m" name="build_area" value="{{building.building_buildarea}}"/>
          单位㎡
        </div>
        <div class="inline">
          <label><span>*</span>建筑物主体层数 地上</label>
          <input type="text" class="tb cs" id="tsccvcs" name="build_uplayernum" value="{{building.building_uplayernum}}" />
          <div class="plmin"> <img src="{% static 'img/select_aup.png'%}" class="plus" data="ccvcs" /><img src="{% static 'img/select_adown.png'%}" class="minus" data="ccvcs" /> </div>
        </div>
        <div class="inline">
          <label>地下</label>
          <input type="text" class="tb cx" id="tsccvcx"  name="build_downlayernum" value="{{building.building_downlayernum}}"/>
          <div class="plmin"> <img src="{% static 'img/select_aup.png'%}" class="plus" data="ccvcx" /><img src="{% static 'img/select_adown.png'%}" class="minus" data="ccvcx" /> </div>
        </div>
        <div class="inline">
          <label><span>*</span>建筑物局部层数</label>
          <input type="text" class="tb cj" id="tsccvcj" name="build_partlayernum" value="{{building.building_partlayernum}}" />
          <div class="plmin"> <img src="{% static 'img/select_aup.png'%}" class="plus" data="ccvcj" /><img src="{% static 'img/select_adown.png'%}" class="minus" data="ccvcj" /> </div>
        </div>
      </div>

    </div>
    <div class="use">
      <div class="ctitle">建筑物用途（注：以下内容均为必填项）</div>
      <div class="ctext">
        <table>
          {%if useageObj%}
               {% for obj in useageObj%}
                  {% if obj in useageObjji %}
                    {% if forloop.last %}
                          <tr>
                            <td><input type="radio" name="build_use" {%if building.building_usageid%}
                              {% ifequal building.building_usageid  obj.building_usageid%} checked="checked" {%endifequal%}{%else%}{% ifequal building.building_buildusage.building_usageid  obj.building_usageid%} checked="checked" {%endifequal%}{%endif%}  value="{{obj.building_usageid}}"/></td>
                            <td>{{obj.building_usagename}}{{obj.building_usagedesc}}</td>
                          </tr>
                      {%elif forloop.first%}
                          <tr>
                            <td><input type="radio" name="build_use"  {%if building.building_usageid%}
                              {% ifequal building.building_usageid  obj.building_usageid%} checked="checked" {%endifequal%}{%else%}{% ifequal building.building_buildusage.building_usageid  obj.building_usageid%} checked="checked" {%endifequal%}checked="checked"{%endif%}   value="{{obj.building_usageid}}"/></td>
                            <td>{{obj.building_usagename}}{{obj.building_usagedesc}}</td>
                      {%else%}
                      <tr>
                            <td><input type="radio" name="build_use"  {%if building.building_usageid%}
                              {% ifequal building.building_usageid  obj.building_usageid%} checked="checked" {%endifequal%}{%else%}{% ifequal building.building_buildusage.building_usageid  obj.building_usageid%} checked="checked" {%endifequal%}{%endif%}   value="{{obj.building_usageid}}"/></td>
                            <td>{{obj.building_usagename}}{{obj.building_usagedesc}}</td>
                      {%endif%}
                  {% else%}
                      <td><input type="radio" name="build_use"  {%if building.building_usageid%}
                              {% ifequal building.building_usageid  obj.building_usageid%} checked="checked" {%endifequal%}{%else%}{% ifequal building.building_buildusage.building_usageid  obj.building_usageid%} checked="checked" {%endifequal%}{%endif%}  value="{{obj.building_usageid}}"/></td>
                      <td>{{obj.building_usagename}}{{obj.building_usagedesc}}</td>
                    </tr>
                  {%endif%} 
                {% endfor%}
          {%endif%}
        </table>
      </div>
    </div>
    
    <div class="loca">
      <div class="ctitle">建筑物位置（注：以下内容均为必填项）</div>
      <div class="ctext">
        <table>
          <tr>
            <td class="nb">
              <label>中心经度(°)</label>
              <input type="text" class="tb j" id="long" value="{{building.building_longitude}}" name="build_longitude"/>
              <label>中心纬度(°)</label>
              <input type="text" class="tb w" id="lati" value="{{building.building_latitude}}" name="build_latitude"/>
              <input type="button" id="showMap" value="获取中心经纬度" class="btnbg" data-toggle="modal" data-target="#myModal" />
              </div>
              </div>
          </td>
          </tr>
          <tr>
            <td><label>建筑物地点</label>
              <input type="text" class="selectskin tb" id="sskin_se" name="build_province" value="{{building.building_province}}"/>
              <select class="tb s setinput" data="sskin_se" id="s1">
                <option></option>
              </select>
              <label>省</label>
              <input type="text" class="selectskin tb" id="sskin_si"  name="build_city" value="{{building.building_city}}" />
              <select class="tb s setinput" data="sskin_si" id="s2">
                <option></option>
              </select>
              <label>市</label>
              <input type="text" class="selectskin tb" id="sskin_qu"  name="build_district" value="{{building.building_district}}" />
              <select class="tb s setinput" data="sskin_qu" id="s3">
                <option></option>
              </select>
              <label>区/县</label>
              <input type="text" id="sskin_xi" class="tb a" name="xiangxidiqu" value="{{building.building_locationdetail}}"  /></td>
          </tr>
          <tr>
            <td><label>行政区缩码</label>
              <input type="text" class="tb c" id="xzqbm" name="build_admregioncode" value="{{building.building_admregioncode}}"  />
              <input type="button" onclick="window.open('http://www.123cha.com/postal/')" value="查询" class="btnbg"/>
              </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="loca">
      <div class="ctitle">参数地区选择（注：以下内容均为必填项）</div>
      <div class="ctext">
      	<table><tr><td style="border:none;"><label>参数地区选择</label>
              <input type="text" class="selectskin tb" id="sskin_csd" name="build_areanumber" value="{{building.building_areanumber}}" style="width:200px;" />
              <select class="tb s1 setinput" data="sskin_csd">
                {%if regionObj%}
                    <option></option>
                  {% for item in regionObj %}

                    <option value ="{{item.region_location}}">{{item.region_location}}</option>
                  {% endfor %}
                {%endif%}
              </select></td></tr></table>
      </div>
    </div>
    <div class="level">
      <div class="ctitle">抗震设防状况（注：以下内容均为必填项）</div>
      <div class="ctext">
        <table  id="ld">
          <tr>
            <td><input type="radio" name="level"  value="1" {% ifequal building.building_fortificationinfo  "1" %} checked="checked" {%endifequal%} {%if not building.building_fortificationinfo%} checked="checked"{%endif%} />
              <span class="ed b">未经抗震设防</span></td>
            <td rowspan="2" class="td"><fieldset id="lds"{% ifequal building.building_fortificationinfo  '1' %} class="disabled fieldsetborder" {%endifequal%} {% ifequal building.building_fortificationinfo  '2' %} class="fieldsetborder" {%endifequal%}  {%if not building.building_fortificationinfo%} class="disabled fieldsetborder"{%endif%}>
                <legend>抗震设防烈度</legend>
                <input type="radio" name="yl" value="6" {% ifequal building.building_fortificationdegree  '6' %} checked="checked" {%endifequal%}/>
                6度
                <input type="radio" name="yl" value="7"  {% ifequal building.building_fortificationdegree  '7' %} checked="checked" {%endifequal%}/>
                7度
                <input type="radio" name="yl" value="8"  {% ifequal building.building_fortificationdegree  '8' %} checked="checked" {%endifequal%}/>
                8度
                <input type="radio" name="yl" value="9"  {% ifequal building.building_fortificationdegree  '9' %} checked="checked" {%endifequal%}/>
                9度
                <input type="button" class="btnbg" value="中国地震烈度区划图查询"  />
                <br />
                <input type="radio" name="yl" value="10"  {% ifequal building.building_fortificationdegree  '10' %} checked="checked" {%endifequal%}/>
                采用非正规抗震措施（民居、自建房等）
              </fieldset></td>
          </tr>
          <tr>
            <td><input type="radio" name="level" value="2"   {% ifequal building.building_fortificationinfo  '2' %} checked="checked" {%endifequal%} />
              <span class="ed b">抗震设防</span></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="next"><a href="checkup2"><img src="{% static 'img/prev.png'%}" /></a><a onclick = "document.form1.submit();return false;"><img src="{% static 'img/next.png'%}" /></a></div>
  </div>
</form>
</div>
<div class="clearfix"></div>
{% endblock %}
{% block js1%}
<script type="text/javascript" src="{% static 'script/jquery-1.7.min.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/check3.js'%}"></script>
{% endblock%}