{% extends "transport/base_check_right.html" %}
{% load staticfiles %}
{% block l_title %}安全鉴定 → 选择结构类型{% endblock %}
{% block css%}
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" charset="utf-8" />
<link href="{% static 'css/introjs.css' %}" type="text/css" rel="stylesheet" />
<link href="{% static 'css/checkup.css' %}" type="text/css" rel="stylesheet" />
{%endblock%}
{% block body_block_content %}
<div class="body">
  <ul class="sidebar left">
    <li class="pass">
      <div class="item"><a href="checkup">选择地震信息</a></div>
      <div class="num">1</div>
      <div class="arrow"></div>
    </li>
    <li class="hover">
      <div class="item"><a href="checkup2">选择结构类型</a></div>
      <div class="num">2</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup3">建筑物基本信息</a></div>
      <div class="num">3</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup4">预期地震/环境信息</a></div>
      <div class="num">4</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup5">细部震损信息</a></div>
      <div class="num">5</div>
      <div class="arrow"></div>
    </li>
    <li>
      <div class="item"><a href="checkup6">生成鉴定结果</a></div>
      <div class="num">6</div>
      <div class="arrow"></div>
    </li>
  </ul>
  <div class="content right">
    <div class="title left" id="select_structure">选择结构类型</div>
    <div class="help right" id="help_tip"><img style="vertical-align:text-bottom;" src="{% static 'img/help.png'%}"><a href="javascript:;" class="helptip">帮助信息</a>
      <div class="tipinfo">
        <div class="arrow_top"><img src="{% static 'img/arrow_top.png'%}" /></div>
        <div class="htip">
          主要功能：选择被鉴定建筑物的结构类型。<br>
        使用方法介绍如下： <br>
        1.  选择结构类型：用户选择左侧被鉴定建筑物的结构类型，页面的右侧相应的显示此结构类型的图文介绍，包括概念、建筑构造和震害。<br>
        2.  结构类型的简称：结构类型的标题栏同时提供了结构类型的简称，在建筑物编号中有显示，用户可以据此进行模糊查询。<br>
        3.  结构类型信息在后台进行管理。<br>
        4.   点击“下一步”，进入建筑物基本信息界面。<br>
          <p class="more"><a href="/t/help#help32" target="_blank">进入帮助详情</a></p>
        </div>
      </div>
    </div>
    <div class="sclaz">
      <table class="sclazlist left">
        {%if structObj%}
          {% for item in structObj%}
            {% if not structtype%}
                {% if forloop.first%}
                    <tr>
                      <td class="hover func" data="{{item.construct_typeid}}">{{item.construct_typename}}</td>
                    </tr>
                {%else%}
                     <tr>
                          <td class="func"  data="{{item.construct_typeid}}">{{item.construct_typename}}</td>
                     </tr>
                {%endif%}
            {%else%}
                  <tr>
                    <td data="{{item.construct_typeid}}" {%if structtype == item.construct_typeid%}
                       class="hover func"{%else%}   class="func"  {%endif%}>{{item.construct_typename}}</td>
                  </tr>
            {%endif%}
          {%endfor%}
       
        <tr>
          <td style="height:250px; background:#d6e9ff;"></td>
        </tr>
          
        
      </table>
       <div class="help1" align="right"><h3><a href="/t/help" target="_blank" id="structure_help">结构类型帮助详情</h3></a></div>
      {%for item1 in structObj%}

          {% autoescape off %}
             {% if not structtype%}
                {% if forloop.first%}
                    <div class="sclazinfo right cfunc" id="{{item1.construct_typeid}}">
                    {{item1.construct_typedes}}
                {%else%}
                    <div class="sclazinfo right cfunc" style="display:none" id="{{item1.construct_typeid}}">
                    {{item1.construct_typedes}}
                {%endif%}
              {%else%}
                    <div class="sclazinfo right cfunc" {% if structtype != item1.construct_typeid %} style="display:none" 
                    {%endif%} id="{{item1.construct_typeid}}">
                    {{item1.construct_typedes}}
            {%endif%}
          {% endautoescape %}
          </div>
      {%endfor%}
    {%endif%}
    </div>
    <div class="next"><a href="checkup"  ><img src="{% static 'img/prev.png'%}" id="pre_step"/></a>
        <a onclick="checkup2commit()"><img src="{% static 'img/next.png'%}" id="next_step" /></a>
    </div>
  </div>
</div>
<div class="clearfix"></div>
{% endblock %}
{% block js1%}
<script type="text/javascript"  src="{% static 'script/checkup.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/intro.js'%}"></script> 
<script type="text/javascript">
      function startIntro(){
        var intro = introJs();
          intro.setOptions({
            steps: [
              {
                element: '#select_structure',
                intro: "因不同结构类型的损伤程度和承载能力不同，请选择被鉴定建筑物的结构类型",
				     position: 'bottom'
              },
              {
                element: '#MB',
                intro: "不同结构类型的详细介绍，帮助您准确选择被鉴定建筑物的结构类型",
                position: 'bottom'
              },
              {
                element: '#structure_help',
                intro: '点击进入系统帮助文档查看结构介绍详情 ',
                position: 'bottom'
              },
              {
                element: '#help_tip',
                intro: '如仍有疑问，帮助信息帮您解答',
					 position: 'bottom'
              },
              {
                element: '#pre_step',
                intro: '点击 “上一步”返回选择地震信息界面',
					  position: 'bottom'
              },
              {
                element: '#next_step',
                intro: '点击“下一步”进入建筑物基本信息界面',
					  position: 'bottom'
              }
            ]
          });

          intro.start();
      }
	  
	  function get_cookie(Name) 
{ 
   var search = Name + "=" 
   var returnvalue = ""; 
   if (document.cookie.length > 0) { 
     offset = document.cookie.indexOf(search) 
     if (offset != -1) {                            
        offset += search.length                                 
        end = document.cookie.indexOf(";", offset); 
        if (end == -1)                              
           end = document.cookie.length;           
        returnvalue=unescape(document.cookie.substring(offset, end)) 
      } 
   }   
   return returnvalue; 
} 
function loadpopup(){ 
  if (get_cookie("checkup2")==""){                   
     startIntro()                                  
     document.cookie="checkup2=ok"                  
    } 
}
loadpopup();
    </script>
{% endblock %}