{% extends "transport/base_check_right.html" %}
{% load staticfiles %}
{% block l_title %}安全鉴定 → 预期地震/环境信息{% endblock %}
{% block body_block_content %}
<div class="body">
	<ul class="sidebar left">
		<li class="pass"><div class="item"><a href="checkup">选择地震信息</a></div><div class="num">1</div><div class="arrow"></div></li>
        <li class="pass"><div class="item"><a href="checkup2">选择结构类型</a></div><div class="num">2</div><div class="arrow"></div></li>
        <li class="pass"><div class="item"><a href="checkup3">建筑物基本信息</a></div><div class="num">3</div><div class="arrow"></div></li>
        <li class="hover"><div class="item"><a href="checkup4">预期地震/环境信息</a></div><div class="num">4</div><div class="arrow"></div></li>
        <li><div class="item"><a href="checkup5">细部震损信息</a></div><div class="num">5</div><div class="arrow"></div></li>
        <li><div class="item"><a href="checkup6">生成鉴定结果</a></div><div class="num">6</div><div class="arrow"></div></li>
    </ul>
   <div class="content right">
    <div class="title left">环境信息【<span>建筑物类型：{{structtypename}}</span>】</div>
    <div class="help right"> <!-- <img style="vertical-align:text-bottom;" src="{%static 'img/p.png'%}"><a href="javascript:;">导入图片</a> <img style="vertical-align:text-bottom;" src="{%static 'img/v.png'%}"><a href="javascript:;">导入视频</a> --> <img style="vertical-align:text-bottom;" src="{%static 'img/help.png'%}"><a href="javascript:;" class="helptip">帮助信息</a>
      <div class="tipinfo">
        <div class="arrow_top"><img src="{%static 'img/arrow_top.png'%}" /></div>
        <div class="htip">
          主要功能：选择被鉴定建筑物的环境影响与预期地震作用情况。<br>
        使用方法介绍如下： <br>
        1.  场地影响、地基状况、毗邻建筑：这些都是鉴定时可以选择的因素，并且这三个主要因素中包括一系列更细的因素，在每个主要因素中都可以选择一个或多个鉴定的条件，若想选择哪个因素只需要选中该因素前的方框。<br>
        2.  环境影响的不同因素的详细介绍帮助，点击其后的帮助按钮即可查看。<br>
        3.  预期地震作用、既发地震烈度：这些也是鉴定时可以选择的因素，其中预期地震作用包括大震作用、小震作用两个方面，每类因素每次只能选择一个作为鉴定条件，若想选择哪个因素只需要选中该因素前的圆框。<br>
        4.  大震作用和小震作用是互斥的关系，当选择大震的时候，小震框中的选择项处于不能选的状态，当重新选小震时，可以点击大震框中的“无”选择钮；反之类同。<br>
        5.  点击“下一步”，进入细部震损信息界面。<br>
          <p class="more"><a href="javascript:;">进入帮助详情</a></p>
        </div>
      </div>
    </div>
        <div class="clearfix"></div>
        <form name= "form1" action="checkup4" method="post">
        <div class="base">
            <div class="ctitle">场地影响(可多选)<span class="right"><a href="" target="_blank"><img src="{%static 'img/nhelp.png'%}">帮助</a></span></div>
            <div class="ctext wyx">
                {% if field_effect%}
                    {% for item in field_effect%}
                        {% if forloop.first%}
                            {%if not building_environment.environment_earthquakeeff %}
                    	        <span class="bb"><input type="checkbox" name="cdyx" class="ling"  
                                        checked ="checked"  value="{{item.effect_id}}"  /> {{item.effect_name}}</span>
                            {%else%}
                                 <span class="bb"><input type="checkbox" name="cdyx" class="ling"  {%if item.effect_id in building_environment.environment_earthquakeeff%} checked ="checked" {%endif%} value="{{item.effect_id}}" 
                                    /> {{item.effect_name}}</span>
                            {%endif%}
                        {%else%}
                             <span ><input type="checkbox" name="cdyx"  {% if item.effect_id in building_environment.environment_earthquakeeff%} 
                                checked ="checked" {%endif%} value="{{item.effect_id}}"  /> {{item.effect_name}}</span>
                        {%endif%}
                    {%endfor%}
                     <span><input type="checkbox" name="cdyx" {% if "CDYXQT" in building_environment.environment_earthquakeeff%} 
                            checked ="checked" {%endif%} value="CDYXQT" /> <input type="text" value="{{cdyxqita}}" name="cdyxqita" id="CDYXQT" placeholder="[其他]" /></span>
                {%endif%}
            </div>
        </div>
        <div class="use">
            <div class="ctitle">地基状况(可多选)<span class="right"><a href="" target="_blank"><img src="{%static 'img/nhelp.png'%}">帮助</a></span></div>
            <div class="ctext wyx">
            {% if foundation_status%}
                    {% for item in foundation_status%}
                        {% if forloop.first%}
                            {%if not building_environment.environment_foundation %}
                                <span class="bb"><input type="checkbox" name="djzk" class="ling"  
                                        checked ="checked"  value="{{item.status_id}}" /> {{item.status_name}}</span>
                            {%else%}
                                 <span class="bb"><input type="checkbox" name="djzk" class="ling"  {% if item.status_id in building_environment.environment_foundation%} checked ="checked" {%endif%} value="{{item.status_id}}" 
                                    /> {{item.status_name}}</span>
                            {%endif%}
                        {%else%}
                             <span ><input type="checkbox" name="djzk"  {% if item.status_id in building_environment.environment_foundation%} 
                                checked ="checked" {%endif%} value="{{item.status_id}}"  /> {{item.status_name}}</span>
                        {%endif%}
                    {%endfor%}
                      <span><input type="checkbox" name="djzk" {% if "DJZKQT" in building_environment.environment_foundation%} 
                    checked ="checked" {%endif%} value="DJZKQT" /> <input type="text" name = "djzkqita" value="{{djzkqita}}" id="DJZKQT" placeholder="[其他]" /></span>
                {%endif%}      
            </div>
        </div>
        <div class="loca">
            <div class="ctitle">毗邻建筑<span class="right"><a href="" target="_blank"><img src="{%static 'img/nhelp.png'%}">帮助</a></span></div>
            <div class="ctext wyx">
            	<span class="bb"><input type="checkbox" class="ling" name="pljz" value="0" {% if "0" in building_environment.environment_adjoinbuild%} 
                    checked ="checked" {%endif%}   {%if not building_environment.environment_adjoinbuild %}
                    checked="checked"{%endif%}  /> 无影响</span>
                <span><input type="checkbox" name="pljz" {% if "1" in building_environment.environment_adjoinbuild%} 
                    checked ="checked" {%endif%} value="1" /> 毗邻建筑震损危及被鉴定建筑物</span>
            </div>
        </div>
        
		<div class="title2">预期地震</div>
        <div class="happen">
            <div class="ctitle">既发生地震烈度<span class="right"><a href="" target="_blank"><img src="{%static 'img/nhelp.png'%}">帮助</a></span></div>
            <div class="ctext" id="happened">
            	<span><input type="radio" value="6" {%if "6" == building_environment.environment_seismicintensity%} checked= "checked" {%endif%} name="ph" /> Ⅵ</span>
                <span><input type="radio" value="7"  {%if "7" == building_environment.environment_seismicintensity%} checked= "checked" {%endif%} name="ph" /> Ⅶ</span>
                <span><input type="radio" value="8"  {%if "8" == building_environment.environment_seismicintensity%} checked= "checked" {%endif%} name="ph" /> Ⅷ</span>
                <span><input type="radio" value="9"  {%if "9" == building_environment.environment_seismicintensity%} checked= "checked" {%endif%} name="ph" /> Ⅸ</span>
                <span><input type="radio" value="10" {%if "10" == building_environment.environment_seismicintensity%} checked= "checked" {%endif%} name="ph" /> Ⅹ</span>
            </div>
        </div>
        <div class="preview" id="preview">
            <div class="ctitle">预期地震作用<span class="right"><a href="" target="_blank"><img src="{%static 'img/nhelp.png'%}">帮助</a></span></div>
            <div class="ctext">
               <fieldset id="ps" class="fieldsetborder">
                <legend>小震作用</legend>
                <span><input type="radio" name="ps" {% if "5" == building_environment.environment_smallaffect%} 
                    checked ="checked" {%endif%} value="5" /> ≤Ⅴ</span>
                <span><input type="radio" name="ps" value="6" {% if "6" == building_environment.environment_smallaffect%} 
                    checked ="checked" {%endif%}  {%if not building_environment.environment_smallaffect %}
                    checked="checked"{%endif%}   /> Ⅵ</span>
                <span><input type="radio" name="ps" {% if "7" == building_environment.environment_smallaffect%} 
                    checked ="checked" {%endif%} value="7" /> Ⅶ</span>
                <br/>
                <span><input type="radio" name="ps" {% if "8" == building_environment.environment_smallaffect%} 
                    checked ="checked" {%endif%} value="8" /> Ⅷ</span>
                <span><input type="radio" name="ps" {% if "9" == building_environment.environment_smallaffect%} 
                    checked ="checked" {%endif%} value="9" /> Ⅸ</span>
                <span><input type="radio" name="ps" {% if "0" == building_environment.environment_smallaffect%} 
                    checked ="checked" {%endif%} value="0" /> 无小震</span>
              </fieldset>
              <fieldset id="pb" class="fieldsetborder">
                <legend>大震作用</legend>
                <span><input type="radio" name="pb" {% if "6" == building_environment.environment_bigaffect%} 
                    checked ="checked" {%endif%} value="6" /> Ⅵ</span>
                <span><input type="radio" name="pb" {% if "7" == building_environment.environment_bigaffect%} 
                    checked ="checked" {%endif%} value="7" /> Ⅶ</span>
                <span><input type="radio" name="pb" {% if "8" == building_environment.environment_bigaffect%} 
                    checked ="checked" {%endif%} value="8"  /> Ⅷ</span>
                <br />
                <span><input type="radio" name="pb" {% if "9" == building_environment.environment_bigaffect%} 
                    checked ="checked" {%endif%} value="9"  /> Ⅸ</span>
                <span><input type="radio" name="pb" {% if "10" == building_environment.environment_bigaffect%} 
                    checked ="checked" {%endif%} value="10" /> Ⅹ</span>
                <span><input type="radio" name="pb" {% if "0" == building_environment.environment_bigaffect%} 
                    checked ="checked" {%endif%} value="0" /> 无大震</span>
              </fieldset>
            </div>
        </div>
        <div class="next"><a href="checkup3"><img src="{% static 'img/prev.png'%}" /></a><a onclick="document.form1.submit();return false;"><img src="{% static 'img/next.png'%}" /></a></div>
        </form>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}
