<html>
<style>
@font-face {
    font-family: simsun;
    src: url(E:\Django-project\dlsPro\static\file\simsun.ttc);
}

body { 
		font-family: simsun; 
		font-size: 15px; 
		font-weight: normal; 
		margin: 0; 
		padding: 0;
		line-height: 180%;
		font-weight:bold;
	}
table{
	height:18px;
}
</style>
<script language="javascript">
  function get_time()
  {
    var date=new Date();
    var year="",month="",day="",week="",hour="",minute="",second="";
    year=date.getFullYear();
    month=add_zero(date.getMonth()+1);
    day=add_zero(date.getDate());
    week=date.getDay();
    switch (date.getDay()) {
    case 0:val="周日";break
    case 1:val="周一";break
    case 2:val="周二";break
    case 3:val="周三";break
    case 4:val="周四";break
    case 5:val="周五";break
    case 6:val="周六";break
      }
    hour=add_zero(date.getHours());
    minute=add_zero(date.getMinutes());
    second=add_zero(date.getSeconds());
    document.getElementById("timetable").innerHTML=" "+year+"-"+month+"-"+day+" "+hour+":"+minute+":"+second+" "+val;
  }

  function add_zero(temp)
  {
    if(temp<10) return "0"+temp;
    else return temp;
  }
setInterval("get_time()",1000);
</script>
<body>
	<div align="center" style="font-size: 25px;">
		<strong>地震现场建筑物安全鉴定意见表</strong>
	</div>
	<div align="right" style="font-size: 12px" >
		报告生成时间：<span id="timetable"> </span>
	</div>
	<table>
		<tr>
			<td>评估人员：<u>&nbsp张磊&nbsp </u></td>
			<td>单位：<u>&nbsp中国地震局工程力学研究所&nbsp</td>
		</tr>
		<tr>
			<td>职称：&nbsp&nbsp&nbsp&nbsp<u>&nbsp其他&nbsp </u></td>
			<td>评估时间：<u>&nbsp{{build_obj.building_createtime}}&nbsp</td>
		</tr>
	</table>
	<div align="left" style="font-weight:bold">
		1&nbsp建筑物基本资料
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0" width="100%" height="30px">
		<tr>
		<td colspan="4" valign="middle"><div align="center" style="font-weight:bold">基本信息</div></td>
		</tr>
		<tr>
		<td colspan="4">建筑物编号：{{build_obj.building_buildnumber}}</td>
		</tr>
		<tr>
		<td colspan="3" width="50%">建筑物名称：{{build_obj.building_buildname}}</td>
		<td>房主姓名：{{build_obj.building_househostname}}</td>
		</tr>
		<tr>
		<td colspan="2">建成年份：{{build_obj.building_buildyear}}</td>
		<td colspan="2">建筑面积（㎡）：{{build_obj.building_buildarea}}</td>
		</tr>
		<tr>
		<td colspan="4">建筑物层数：主体 地上 {{build_obj.building_uplayernum}} 层，地下 {{build_obj.building_downlayernum}}层； 局部 {{build_obj.building_partlayernum}}层</td>
		</tr>
		<tr>
		<td>结构类型：</td>
		<td colspan="3">{{build_obj.building_constructtypeid}}</td>
		</tr>
		<tr>
		<td width="25%">建筑物用途：</td>
		<td colspan="3">{{usage.building_usagename}}{{usage.building_usagedesc}}</td>
		</tr>
		<tr>
		<th colspan="4">建筑物位置</th>
		</tr>
		<tr>
		<td colspan="2">中心经度：{{build_obj.building_longitude}}</td>
		<td colspan="2">中心纬度：{{build_obj.building_latitude}}</td>
		</tr>
		<tr>
		<td colspan="3">建筑物地点：{{build_obj.building_province}}{{build_obj.building_city}}{{build_obj.building_district}}{{build_obj.building_locationdetail}}</td>
		<td>行政区编码：{{build_obj.building_admregioncode}}</td>
		</tr>
		<tr>
		<th colspan="4">参数地区</th>
		</tr>
		<tr>
		<td>参数地区：</td>
		<td colspan="3">{{build_obj.building_areanumber}}</td>
		</tr>
		<tr>
		<th colspan="4">抗震设防状况</th>
		</tr>
		<tr>
		<td>建筑物设防状况：</td>
		<td colspan="3">
			{%if build_obj.building_fortificationdegree%}
				{{build_obj.building_fortificationdegree}}度设防
			{% else %}
				未设防
			{% endif %}
		</td>
		</tr>
	</table>
	<div align="left" style="font-weight:bold">
		2&nbsp地震信息
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0" width="100%" height="30px">
	  <tr>
		<td colspan="2" align="center">地震信息</td>
	  </tr>
	  <tr>
		<td width="40%">被鉴定建筑物所属地震</td>
		<td>{{build_obj.building_earthquakeid}}</td>
	  </tr>
	</table>
	<div align="left" style="font-weight:bold">
		3&nbsp预期地震影响和环境影响
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0" width="100%" height="30px">
	  <tr>
		<td colspan="3" align="center">环境影响</td>
	  </tr>
	  <tr>
		<td width="25%">类型</td>
		<td width="50%" align="center">名称</td>
		<td width="25%">描述</td>
	  </tr>
	  <tr>
		<td>毗邻建筑物影响</td>
		<td>
			{% if "0" in building_environment.environment_adjoinbuild%}
			无影响
			{% else %}
			毗邻建筑震损危及被鉴定建筑物
			{% endif %}
		</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>场地影响</td>
		<td>
		{% if "CDYXWYX" in building_environment.environment_earthquakeeff%}水患{%endif%}
		{% if "CDYXTTBT" in building_environment.environment_earthquakeeff%}土体崩塌{%endif%}
		{% if "CDYXYH" in building_environment.environment_earthquakeeff%}液化{%endif%}	
		{% if "CDYXTA" in building_environment.environment_earthquakeeff%}塌岸{%endif%}
		{% if "CDYXHP" in building_environment.environment_earthquakeeff%}滑坡{%endif%}
		{% if "CDYXCDSW" in building_environment.environment_earthquakeeff%}场地失稳{%endif%}
		{% if "CDYXWYX" in building_environment.environment_earthquakeeff%}无影响{%endif%}
		</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>地基状况</td>
		<td>						
		{% if "DJZKCZLXJ" in building_environment.environment_foundation%}承载力下降{%endif%}
		{% if "DJZKBJYCJ" in building_environment.environment_foundation%}不均匀沉降{%endif%}
		{% if "DJZKDJHY" in building_environment.environment_foundation%}地基滑移{%endif%}	
		{% if "DJZKCLTCBW" in building_environment.environment_foundation%}持力土层不稳{%endif%}
		{% if "DJZKWYX" in building_environment.environment_foundation%}无影响{%endif%}
		</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td colspan="3" align="center">预期地震作用</td>
	  </tr>
	  <tr>
		<td>既发地震烈度</td>
		<td colspan="2">{{building_environment.environment_seismicintensity}}</td>
	  </tr>
	  <tr>
		<td>预期地震作用</td>
		<td colspan="2">小震作用{{building_environment.environment_smallaffect}}度&nbsp&nbsp大震作用{{building_environment.environment_bigaffect}}度</td>
	  </tr>
	</table>
	<div align="left" style="font-weight:bold">
		4&nbsp结构震损信息
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0" width="100%" height="30px">
	  <tr>
		<td colspan="5" align="center">震损信息</td>
	  </tr>
	  <tr>
		<td colspan="2" rowspan="2" align="center">部位</td>
		<td colspan="2" align="center">震损</td>
		<td rowspan="2" align="center">备注</td>
	  </tr>
	  <tr>
		<td align="center">部位因子</td>
		<td align="center">数量和程度</td>
	  </tr>
	  	{% for i in xdamage%}
	  	<tr>
	  		<td>{{i.damage_locationid}}</td>
	  		<td>{{i.damage_catalogid}}</td>
	  		<td>{{i.damage_sublocationid}}</td>
	  		<td>
	  			{% if "0" in i.damage_number%}个别{% elif "1" in i.damage_number%}少数{% else %}多数{% endif %}<br>{% if "0" in i.damage_degree%}轻微{% elif "1" in i.damage_degree%}中等{% else %}严重{% endif %}
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	{% endfor %}
		<!-- <td rowspan="2" align="center">非承重墙体部位</td>
		<td rowspan="2" align="center">填充墙、围护墙<br>（非剪力墙）和隔墙</td>
		<td>填充墙、围护墙（非剪力墙）、<br>隔墙有斜裂缝或X型裂缝</td>
		<td>个别  轻微</td> -->
	  
	  <!-- <tr>
		<td >填充墙、围护墙（非剪力墙）、隔墙<br>与框架间有裂缝（水平裂缝或垂直裂缝）</td>
		<td>个别  中等</td>
	  </tr> -->
	</table>
	<div align="left" style="font-weight:bold">
		5&nbsp鉴定结果
	</div>
	<div align="left">
		鉴定结论：   可用<br>
		破坏等级：   轻微破坏<br>
		整体震损指数：0.1023<br>
		处理意见：<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>
		备注：<br>
		1 本鉴定报告由地震现场建筑物安全鉴定系统自动生成。<br>
		2 本鉴定基于规范《地震现场工作 第二部分：建筑物安全鉴定 GB 18208.2 --2001》，结果仅供参考不作为任何凭证，如有任何疑问，欢迎访问地震现场建筑物安全鉴定网站<br>
		http://10.10.134.3:8080/iem_security_sys/website/index.action进行咨询。
	</div>
</body>
</html>