<html>
<style>
@font-face {
    font-family: simsun;
    src: url({%static 'file/simsun.ttc'%});
}

body { 
		font-family: simsun; 
		font-size: 15px; 
		font-weight: normal; 
		margin: 0; 
		padding: 0;
		line-height: 180%;
		font-weight:bold;
	}
table{
	height:18px;
}
</style>
<body>
	<div align="center" style="font-size: 25px;">
		<strong>地震现场建筑物安全鉴定意见表</strong>
	</div>
	<div align="right" style="font-size: 12px">
		报告生成时间：2014年11月17日
	</div>
	<table>
		<tr>
			<td>评估人员：<u>&nbsp张磊&nbsp </u></td>
			<td>单位：<u>&nbsp中国地震局工程力学研究所&nbsp</td>
		</tr>
		<tr>
			<td>职称：<u>&nbsp其他&nbsp </u></td>
			<td>评估时间：<u>&nbsp2014年11月17日10时19分&nbsp</td>
		</tr>
	</table>
	<div align="left" style="font-weight:bold">
		1&nbsp建筑物基本资料
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0">
		<tr>
		<td colspan="4" valign="middle"><div align="center" style="font-weight:bold">基本信息</div></td>
		</tr>
		<tr>
		<td colspan="4">建筑物编号： RCPm5w0006201406181918230001</td>
		</tr>
		<tr>
		<td colspan="3">建筑物名称：剑阁中学第二教学楼</td>
		<td>房主姓名：</td>
		</tr>
		<tr>
		<td colspan="2">建成年份：2001</td>
		<td colspan="2">建筑面积（㎡）：3503</td>
		</tr>
		<tr>
		<td colspan="4">建筑物层数：主体 地上 6 层，地下 0层； 局部 0层</td>
		</tr>
		<tr>
		<td>结构类型：</td>
		<td colspan="3">多层和高层钢筋混凝土房屋</td>
		</tr>
		<tr>
		<td>建筑物用途：</td>
		<td colspan="3">文化教育系统（包括学校、幼儿园等）</td>
		</tr>
		<tr>
		<th colspan="4">建筑物位置</th>
		</tr>
		<tr>
		<td colspan="2">中心经度：105.47゜E</td>
		<td colspan="2">中心纬度：32.04゜N</td>
		</tr>
		<tr>
		<td colspan="3">建筑物地点：四川省广元市剑阁县普安镇</td>
		<td>行政区编码：510823</td>
		</tr>
		<tr>
		<th colspan="4">参数地区</th>
		</tr>
		<tr>
		<td>参数地区：</td>
		<td colspan="3">西南地区</td>
		</tr>
		<tr>
		<th colspan="4">抗震设防状况</th>
		</tr>
		<tr>
		<td>建筑物设防状况：</td>
		<td colspan="3">6度抗震设防</td>
		</tr>
	</table>
	<div align="left" style="font-weight:bold">
		2&nbsp地震信息
	</div>
	<table border="1" cellspacing="0" cellpadding="0">
	  <tr>
		<td colspan="2" align="center">地震信息</td>
	  </tr>
	  <tr>
		<td>被鉴定建筑物所属地震</td>
		<td>汶川地震</td>
	  </tr>
	</table>
	<div align="left" style="font-weight:bold">
		3&nbsp预期地震影响和环境影响
	</div>
	<table border="1" cellspacing="0" cellpadding="0">
	  <tr>
		<td colspan="3" align="center">环境影响</td>
	  </tr>
	  <tr>
		<td width="25%">类型</td>
		<td width="50%">描述</td>
		<td width="25%">备注</td>
	  </tr>
	  <tr>
		<td>毗邻建筑物影响</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>场地影响</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>地基状况</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td colspan="3" align="center">预期地震作用</td>
	  </tr>
	  <tr>
		<td>既发地震烈度</td>
		<td colspan="2">Ⅶ度</td>
	  </tr>
	  <tr>
		<td>预期地震作用</td>
		<td colspan="2">小震作用 (度 )     Ⅵ</td>
	  </tr>
	</table>
	<div align="left" style="font-weight:bold">
		4&nbsp结构震损信息
	</div>
	<table border="1" cellspacing="0" cellpadding="0">
	  <tr>
		<td colspan="5" align="center">震损信息</td>
	  </tr>
	  <tr>
		<td colspan="2" rowspan="2" align="center">部位</td>
		<td colspan="2" align="center">震损</td>
		<td rowspan="2" align="center">备注</td>
	  </tr>
	  <tr>
		<td align="center">部位因子</td>
		<td align="center">数量和程度</td>
	  </tr>
	  <tr>
		<td rowspan="2" align="center">非承重墙体部位</td>
		<td rowspan="2" align="center">填充墙、围护墙<br>（非剪力墙）和隔墙</td>
		<td colspan="2">填充墙、围护墙（非剪力墙）、<br>隔墙有斜裂缝或X型裂缝</td>
		<td>个别  轻微</td>
	  </tr>
	  <tr>
		<td colspan="2">填充墙、围护墙（非剪力墙）、隔墙<br>与框架间有裂缝（水平裂缝或垂直裂缝）</td>
		<td>个别  中等</td>
	  </tr>
	</table>
	<div align="left" style="font-weight:bold">
		5&nbsp鉴定结果
	</div>
	<div align="left" style="font-weight:bold">
		鉴定结论：   可用<br>
		破坏等级：   轻微破坏<br>
		整体震损指数：0.1023<br>
		处理意见：<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>
		备注：<br>
		1 本鉴定报告由地震现场建筑物安全鉴定系统自动生成。<br>
		2 本鉴定基于规范《地震现场工作 第二部分：建筑物安全鉴定 GB 18208.2 --2001》，结果仅供参考不作为任何凭证，如有任何疑问，欢迎访问地震现场建筑物安全鉴定网站<br>
		http://10.10.134.3:8080/iem_security_sys/website/index.action进行咨询。
	</div>
</body>
</html>