<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系我们</title>
<style type="text/css">
	*{ margin:0; padding:0; font-size:12px; font-family:'微软雅黑';}
	.left{ float:left;}
	.right{ float:right;}
	a{ text-decoration:none;}
	.header,.info,.footer{ width:960px; margin:0 auto; overflow:hidden;}
	.loginbar{ width:620px; margin:0 auto; overflow:hidden;}
	.footer{ background-color:#e2e8eb; border-top:6px solid #a1b6c2; text-align:center; line-height:25px; color:#282828; padding:10px 0;}
	.footer a{ color:#282828; }
	.footer a:hover{ text-decoration:underline;}
	.error {text-align:center;}
</style>

</head>

<body>
<div class="header">
	<div class="logo left"><img src="{%static 'img/logo.png'%}" alt="" /></div>
</div>
<div class="loginbar">
	<table >
		<tr colspan="2">
			<td  class="contentheading"  width="100%">
								<p  style="line-height: 300%"  align="left">
								<font  face="宋体"  size="5" weight="bold">
								您所在位置:联系我们</font></p></td>
		</tr>
		<table  id="table13"  style="BORDER-COLLAPSE: collapse"  bordercolor="#c0c0c0"  cellspacing="1"  bordercolordark="#B7B7B7"  cellpadding="0"  bgcolor="#b7b7b7"  bordercolorlight="#B7B7B7"  border="0">
											<tbody><tr>
												<td  valign="top"  width="620"  bgcolor="#eeeeee"  style="font-size: 10pt; font-family: 宋体"  align="left">
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												　</p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												<span  lang="zh-cn">单位名称</span>
												<img  height="6"  src="./中国地震局工程力学研究所_files/bullet_sarrow.gif"  width="4"  border="0">&nbsp; 
												中国地震局工程力学研究所 </p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp; </p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp;&nbsp;
												<img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"><img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"> 
												地址 
												<img  height="6"  src="./中国地震局工程力学研究所_files/bullet_sarrow.gif"  width="4"  border="0">&nbsp; 哈尔滨市南岗区学府路29号</p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp;&nbsp;
												<img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"><img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"> 
												邮编 
												<img  height="6"  src="./中国地震局工程力学研究所_files/bullet_sarrow.gif"  width="4"  border="0">&nbsp; 
												150080</p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp;&nbsp;
												<img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"><img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"> 
												网址 
												<img  height="6"  src="./中国地震局工程力学研究所_files/bullet_sarrow.gif"  width="4"  border="0"> 
												<a  href="http://www.iem.net.cn/">&nbsp;www.iem.cn</a></p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp;&nbsp;
												<img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"><img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"> 
												Email:&nbsp;
												<a  href="mailto:iem@iem.net.cn">
												iem@iem.net.cn</a></p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp;&nbsp;
												<img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"><img  height="11"  src="./中国地震局工程力学研究所_files/bull_sm_g.gif"  width="11"  border="0"> 
												联系电话：0451-86652500</p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp;&nbsp;
												</p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp; </p>
												<p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp; 
												【乘车路线】可乘11、104、67、68、88、106、114、209等公共汽车,<b>理工大学站</b>下车，向前50米即到；</p><p  style="MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 170%">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
												或乘坐地铁一号线，到<b>哈理工大学站</b>下车，一号口出站即是。</p></td>
											</tr>
										</tbody></table>
	</table>
</div>
<div class="footer">
	<div class="about"><a href="http://www.iem.net.cn/" target="_blank">关于工力所</a> | <a href="javascript:;">关于系统</a> | <a href="http://10.10.104.199:8888">系统后台</a> | <a href="javascript:;">联系我们</a> | <a href="javascript:;" style="display:none;">站点地图 |</a>  <a href="javascript:;">友情链接</a> | <a href="javascript:;">免责声明</a></div>
	<div class="copyright">版权所有：中国地震局工程力学研究所</div>
</div>
</body>
</html>
