{% extends "transport/base.html" %}
{% load staticfiles %}
{% block l_title %}统计分析 → 信息查询{% endblock %}
{% block css%}
<link href="{% static 'css/index.css'%}" type="text/css" rel="stylesheet" />
<style type="text/css">
/*tab*/
.itab {
    height:36px;
    border-bottom:solid 1px #d0dee5;
    position:relative;
    border-left:solid 1px #d3dbde;
}
.itab ul li {
    float:left;
    height:37px;
    line-height:37px;
    background:url({%static 'img/itabbg.png' %}) repeat-x;
    border-right:solid 1px #d3dbde;
}
.itab ul li a {
    font-size:14px;
    color:#000;
    padding-left:25px;
    padding-right:25px;
}
.itab ul li a.selected {
    height:37px;
    display:block;
    background:url({%static 'img/itabbg1.png' %}) repeat-x;
    font-weight:bold;
}
.tabson {
    margin:18px 0px;
}
.formtext {
    height:45px;
    padding-left:25px;
    line-height:20px;
    color:#848383;
}
.formtext b {
    color:#d70101;
}
.forminfo b {
    color:#ea2020;
    padding-left:3px;
}
#tab2, #tab3, #tab4, #tab5 {
    display:none;
}
</style>

<style type="text/css">
.infoleft {
    border:none;
    width:100%;
}
.ylist {
    width:100%;
}
.ylist th {
    font-size:13px;
}
.ylist td {
    width:33%;
    text-align:center;
    line-height:35px;
    border-bottom:1px dashed #999;
    color:#111;
}
.ybcolor {
    background: none repeat scroll 0% 0% #FF6C00;
}
</style>

<script type="text/javascript"  src="{% static 'script/jquery.js'%}"></script>
<script type="text/javascript" src="{% static 'script/jquery.idTabs.min.js'%}"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=C8f480cdbffe145af5b60e16a0639255"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>
<script type="text/javascript" src="{% static 'script/structmap.js'%}"></script>
<script type="text/javascript" src="{% static 'script/select-ui.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script/heustudio.jquery.min.js'%}"></script>

<script type="text/javascript">
jQuery(function($){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
    });

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
    });

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
    });
    
});

</script>
<script type="text/javascript">
jQuery(function($) {
    $("#mapTag").click(function(){
        f(1);
     });

    $(".select1").uedSelect({
    width : 345       
  });
  $(".select2").uedSelect({
    width : 167  
  });
  $(".select3").uedSelect({
    width : 100
  });
  
});
</script>
{%endblock%}

{% block body_block %}
<div class="body">
  <ul class="htitle">
    <li class="func hover" data="infolist">信息查询</li>
    <li class="func" data="funclist">功能分析</li>
    <li class="func" data="maplist" id="mapTag">地图导航</li>
  </ul>
  <div id="infolist"  class="cfunc">
    <div class="titlebar">
    <div class="left"><label>查询条件</label></div>
      <div class="left search f">
        <input type="image" src="{%static 'img/01.gif' %}" id="addsearch" />
        <input type="image" src="{%static 'img/02.gif' %}" id="minsearch"/>
        <select class="select">
        	<option>建筑编号</option>
            <option>建筑年份</option>
        </select>
        <input type="text" class="text" />
        <select class="select">
          <option>精确</option>
          <option>模糊</option>
        </select>
        <input type="submit" class="btn" value="查询" />
      </div>
      <div class="right edit">
        <input type="button" value="编辑建筑物"  onClick="javascript:open_windows_and_get_selectedinfo('/t/','hfActive','txtActive')"/>
        <input type="button" value="删除建筑物" onClick="delete_build()"/>
      </div>
    </div>
    <div class="jzwlist">
    	<table class="jzwlisttable">
      <tr>
      	<th class="idc"  ><input type="checkbox" id="bgcbox" /></th>
        <th class="id">建筑物编号</th>
        <th class="jl">鉴定结论</th>
        <th class="zs">震损指数</th>
        <th class="bm">行政区编码</th>
        <th class="mc">建筑物名称</th>
        <th class="dd">建筑物地点</th>
        <th class="fz">房主</th>
        <th class="jg">建筑结构</th>
        <th class="nf">建成年份</th>
        <th class="zk">抗震设防状况</th>
        <th class="sf">抗震设防烈度</th>
        <th class="ld">既发地震烈度</th>
        <th class="rq">鉴定日期</th>
        <th class="jd">中心经度</th>
        <th class="wd">中心纬度</th>
        <th class="mj">建筑面积</th>
        <th class="cs">主体层数</th>
        <th class="yt">建筑物用途</th>
        <th class="bh">鉴定人编号</th>
        <th class="jdr">鉴定人</th>
        <th class="jzc">鉴定人员职称</th>
        <th class="dw">鉴定单位</th>
        <th class="dj">破坏等级</th>
      </tr>
    {%if is_delete%}
        <script language="JavaScript">
            function auto_run()
            {
                alert("删除成功")
            }
            window.onload=auto_run();
        </script>
    {%endif%}
    {% if item%}
        {%for l in item%} 
           <tr>
          <td><input type="checkbox" class="bgcbox" name="checkbox1" value=
            "{{l.id}}"/></td>
          <td>{{l.result_buildnumber.building_buildnumber}}</td>
          <td>{{l.result_result}}</td>
          <td>{{l.result_totaldamageindex}}</td>
          <td>{{l.result_buildnumber.building_admregioncode}}</td>
          <td>{{l.result_buildnumber.building_buildname}}</td>
          <td>{{l.result_buildnumber.building_province}}</td>
          <td>{{l.result_buildnumber.building_househostname}}</td>
          <td>{{l.result_buildnumber.building_constructtypeid}}</td>
          <td>{{l.result_buildnumber.building_buildyear}}</td>
          <td>{{l.result_buildnumber.building_fortificationinfo}}</td>
          <td>{{l.result_buildnumber.building_fortificationdegree}}</td>
          <td>{{l.result_buildnumber.building_earthquakeid.eq_epicentralintensity}}</td>
          <td>{{l.result_assetdate}}</td>
          <td>{{l.result_buildnumber.building_longitude}}</td>
          <td>{{l.result_buildnumber.building_latitude}}</td>
          <td>{{l.result_buildnumber.building_buildarea}}</td>
          <td>{{l.result_buildnumber.building_uplayernum}}</td>
          <td>{{l.result_buildnumber.building_buildusage}}</td>
          <td>{{l.result_people.user_id}}</td>
          <td>{{l.result_people.user_realname}}</td>
          <td>{{l.result_people.user_title}}</td>
          <td>{{l.result_people.user_workunit}}</td>
          <td>{{l.result_result}}</td>
        </tr>
        {%endfor%}    
    {%endif%}
    </table>
    </div>
       <ul class="page right">
    {% if item.has_previous %}
        <li> <a  title='上一页' href='?page={{ item.previous_page_number }}'><span>&lt;&lt;</span></a></li>
    {% endif %}
    {% for page in item.paginator.page_range %}
        {% if page = item.number %}
           <li>  <a  title='当前页:{{ page }}'><span>{{ page }}</span></a></li>
        {% else %}
            <li>  <a  href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a></li>
         {% endif %}
    {% endfor %}
    {% if item.has_next %}
         <li> <a  title='下一页' href='?page={{ item.next_page_number }}'><span>&gt;&gt;</span></a></li>
    {% endif %}
    </ul>
    <div class="right excel">
        <input type="button" value="导出Excel" onclick="export_xls()"/>
        <input type="button" value="导出Word" />
    </div>

   <!--  <ul class="page right">
      <li class="none">&lt;</li>
      <li class="hover"><a href="javascript:;">1</a></li>
      <li><a href="javascript:;">2</a></li>
      <li><a href="javascript:;">3</a></li>
      <li><a href="javascript:;">4</a></li>
      <li><a href="javascript:;">5</a></li>
      <li class="none">...</li>
      <li><a href="javascript:;">101</a></li>
      <li><a href="javascript:;">102</a></li>
      <li>&gt;</li>
    </ul> -->
  </div>
 <div id="funclist" class="cfunc">
    <div class="titlebar">
      <div class="left search">
        <div>
          <label>地震事件：</label>
          <input type="text" class="text" />
          <label>灾区地点：</label>
          <select class="select setinput" data="sskin_se" id="s1">
            <option>黑龙江</option>
          </select>
          <label>省</label>
          <select class="select setinput"  data="sskin_si" id="s2">
            <option>哈尔滨</option>
          </select>
          <label>市</label>
          <select class="select setinput" data="sskin_qu" id="s3">
            <option>南岗</option>
          </select>
          <label>区/县&nbsp;&nbsp;&nbsp;</label>
          <label>鉴定人员：</label>
          <input type="text" class="text" value=""/>
        </div>
        <div>
          <label>结构类型：</label>
          <select class="select setinput" data="sskin_struc">
            <option>多层砌体房屋（简称MB）</option>
            <option>多层和高层钢筋混凝土房屋（简称RC）</option>
            <option>底层框架房屋（简称BF）</option>
            <option>内框架房屋（简称IF）</option>
            <option>单层钢筋混凝土厂房（简称SR）</option>
            <option>单层砖柱厂房和空旷房屋（简称SB）</option>
            <option>木结构房屋（简称TB）</option>
            <option>土石墙房屋（简称ER）</option>
          </select>
          <label>用途：</label>
          <select class="select setinput" data="sskin_use">
            <option>住宅（包括公寓、居民楼、集体宿舍、商住等）</option>
            <option>机场、汽车站、火车站、地铁站、码头休息厅等</option>
            <option>商业（包括商业、服务、办公、商场、酒店等）</option>
            <option>工业厂房（包括轻工业厂房和重工业厂房）</option>
            <option>政府（包括政府机关、科研院所、金融和保险机关、邮局等）</option>
            <option>公共集会场所（体育馆、文化宫、影剧院、歌舞娱乐场所）</option>
            <option>医疗卫生系统（包括医院、诊所、疗养院等）</option>
            <option>生命线系统结构及特种结构</option>
            <option>文化教育系统（包括学校、幼儿园等）</option>
            <option>其它（包括物资储存设施等）</option>
          </select>
          <label>安全类别:</label>
          <select class="select setinput" data="sskin_nian">
            <option>普通</option>
            <option>其他</option>
          </select>
          
          </div>
          <div>
          <label>破坏等级：</label>
          <select class="select setinput" data="sskin_nian">
            <option>一般</option>
            <option>严重</option>
          </select>
          <label>建成年份:</label>
          <select class="select setinput" data="sskin_nian">
            <option>60年代</option>
            <option>70年代</option>
            <option>80年代</option>
            <option>90年代</option>
            <option>2014</option>
            <option>2013</option>
            <option>2012</option>
            <option>2011</option>
            <option>2010</option>
            <option>2009</option>
            <option>2008</option>
            <option>2007</option>
            <option>2006</option>
            <option>2005</option>
            <option>2004</option>
            <option>2003</option>
            <option>2002</option>
            <option>2001</option>
            <option>2000</option>
            <option>1999</option>
            <option>1998</option>
            <option>1997</option>
            <option>1996</option>
            <option>1995</option>
            <option>1994</option>
            <option>1993</option>
            <option>1992</option>
            <option>1991</option>
            <option>1990</option>
            <option>1989</option>
            <option>1988</option>
            <option>1987</option>
            <option>1986</option>
            <option>1985</option>
            <option>1984</option>
            <option>1983</option>
            <option>1982</option>
            <option>1981</option>
            <option>1980</option>
            <option>1979</option>
            <option>1978</option>
            <option>1977</option>
            <option>1976</option>
            <option>1975</option>
            <option>1974</option>
            <option>1973</option>
            <option>1972</option>
            <option>1971</option>
            <option>1970</option>
            <option>1969</option>
            <option>1968</option>
            <option>1967</option>
            <option>1966</option>
            <option>1965</option>
            <option>1964</option>
            <option>1963</option>
            <option>1962</option>
            <option>1961</option>
            <option>1960</option>
            <option>1959</option>
            <option>1958</option>
            <option>1957</option>
            <option>1956</option>
            <option>1955</option>
            <option>1954</option>
            <option>1953</option>
            <option>1952</option>
            <option>1951</option>
            <option>1950</option>
          </select>
          <label>设防状况：</label>
          <select class="select setinput" data="sskin_nian">
            <option>一般</option>
            <option>未保护</option>
          </select>
          </div>
        
      </div>
    </div>
    <!-- 2 -->
    <div class="infoleft" id="tabinfo">
      <div class="itab">
        <ul>
          <li><a href="#tab1" class=" selected">按鉴定时间统计</a></li>
          <li><a href="#tab2">按建筑年代统计</a></li>
          <li><a href="#tab3">按破坏等级统计</a></li>
          <li><a href="#tab4">按建筑用途统计</a></li>
          <li><a href="#tab5">按设防状况统计</a></li>
        </ul>
      </div>
      <!--tab1-->
      <div id="tab1" class="tabson">
        <div style="float:left; width:40%;">
          <div id="container6" style="float:left;height:300px;width:520px;"></div>
        </div>
        <div style="float:left; width:55%; margin-left:20px;">
          <table class="ylist" id="st6">
            <tr>
              <th>鉴定时间</th>
              <th>栋数</th>
            </tr>
          </table>
        </div>
        <div class="btninfo" style="clear:both; text-align:center;">
          <input name="" type="button" class="btn fb" value="导出"/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="" type="button" class="btn fb" value="打印"/>
        </div>
      </div>
      
      <!--tab2-->
      <div id="tab2" class="tabson">
        <div style="float:left; width:45%;">
          <div id="container1" style="float:left;height:300px;width:480px;"></div>
        </div>
        <div style="float:left; width:40%; margin-left:20px;">
          <table class="ylist" id="st1">
            <tr>
              <th>建造年代</th>
              <th>栋数</th>
              <th>面积</th>
            </tr>
          </table>
        </div>
        <div class="btninfo" style="clear:both; text-align:center;">
          <input name="" type="button" class="btn fb" value="导出"/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="" type="button" class="btn fb" value="打印"/>
        </div>
      </div>
      
      <!--tab3-->
      <div id="tab3" class="tabson">
        <div style="float:left; width:40%;">
          <div id="container4" style="float:left;height:300px;width:380px;"></div>
        </div>
        <div style="float:left; width:40%; margin-left:20px;">
          <table class="ylist" id="st4">
            <tr>
              <th>破坏等级</th>
              <th>栋数</th>
              <th>面积</th>
            </tr>
          </table>
        </div>
        <div class="btninfo" style="clear:both; text-align:center;">
          <input name="" type="button" class="btn fb" value="导出"/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="" type="button" class="btn fb" value="打印"/>
        </div>
      </div>
      
      <!--tab4-->
      <div id="tab4" class="tabson">
        <div style="float:left; width:40%;">
          <div id="container5" style="float:left;height:300px;width:380px;"></div>
        </div>
        <div style="float:left; width:40%; margin-left:20px;">
          <table class="ylist" id="st5">
            <tr>
              <th>建筑物用途</th>
              <th>栋数</th>
              <th>面积</th>
            </tr>
          </table>
        </div>
        <div class="btninfo" style="clear:both; text-align:center;">
          <input name="" type="button" class="btn fb" value="导出"/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="" type="button" class="btn fb" value="打印"/>
        </div>
      </div>
      
      <!--tab5-->
      <div id="tab5" class="tabson">
        <div style="float:left; width:40%;">
          <div id="container3" style="float:left;height:300px;width:380px;"></div>
        </div>
        <div style="float:left; width:40%; margin-left:20px;">
          <table class="ylist" id="st3">
            <tr>
              <th>设防状况</th>
              <th>栋数</th>
              <th>面积</th>
            </tr>
          </table>
        </div>
        <div class="btninfo" style="clear:both; text-align:center;">
          <input name="" type="button" class="btn fb" value="导出"/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="" type="button" class="btn fb" value="打印"/>
        </div>
      </div>
    </div>
    <!-- 2 -->
  </div>
  <div id="maplist" class="cfunc">
  <div class="titlebar">
      <div class="left">
        <label>查询条件</label>
      </div>
      <div class="left search f">
        <input type="image" src="{% static 'img/01.gif'%}" class="addsearch" />
        <input type="image" src="{% static 'img/02.gif'%}" class="minsearch"/>
        <select class="select">
          <option>行政区编码</option>
          <option>地震事件</option>
           <option>建筑物编号</option>
          <option>安全类别</option>
           <option>震损指数</option>
          <option>建筑物名称</option>
           <option>房主</option>
          <option>建成年份</option>
           <option>抗震设防状况</option>
          <option>抗震设防烈度</option>
           <option>既发地震烈度</option>
          <option>鉴定日期</option>
           <option>建筑年份</option>
          <option>中心经度</option>
           <option>中心纬度</option>
          <option>建筑面积</option>
           <option>主体层数</option>
          <option>用途</option>
          <option>鉴定人</option>
           <option>鉴定人员职称</option>
          <option>鉴定单位</option>
           <option>结构类型</option>
          <option>破坏等级</option>
        </select>
        <input type="text" class="text" />
        <select class="select">
          <option>精确</option>
          <option>模糊</option>
        </select>
        <input type="submit" class="btn" value="查询" />
      </div>
    </div>
    <div class="rightinfo">
      <div id="allmap" style="width: 100%; height: 400px"></div>
      <div id="legend" align="center"><img id="pict" src="{% static 'img/pic1.png'%}"></div>
    </div>
  </div>
  </div>
{% endblock %}
{% block js%}
<script type="text/javascript">
  setWidth();
  $(window).resize(function(){
    setWidth(); 
  });
  function setWidth(){
    var width = ($('.leftinfos').width()-12)/2;
    $('.infoleft,.inforight').width(width);
  }
  $("#tabinfo .itab ul").idTabs(); 
  $('.tablelist tbody tr:odd').addClass('odd');
</script>
<!-- <script type="text/javascript"  src="{% static 'script/jquery-1.9.1.min.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/geo.js'%}"></script> 
 --><script type="text/javascript"  src="{% static 'script/highcharts.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/highcharts-more.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/addOnload.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/eq_struct.js'%}"></script>
<script type="text/javascript"  src="{% static 'script/exporting.js'%}"></script>

{% endblock %}