{% extends "transport/base.html" %}
{% load staticfiles %}
{% block title %}地震管理系统{% endblock %}
{% block l_title %}用户中心 → 修改用户信息{% endblock %}
{% block body_block%}
{% block css%}<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet" />{%endblock%}
<div class="body">
	<div class="sidebar left">
    	<div class="baseinfo">
        	<div class="title centert">基本信息</div>
            <div class="infos option">
            	<p class="f"><a href="user">当前用户信息</a></p>
                <p class="hover"><a href="edituser">修改用户信息</a></p>
                <p><a href="editpass">修改登录密码</a></p>
                <p><a href="propass">申请密码保护</a></p>
                <p><a href="message">给管理员留言</a></p>
            </div>
        </div>
        <div class="contact">
        	<div class="title centert">联系方式</div>
            <div class="infos">
            	<div class="contactlist f">
                	<h1>单位信息</h1>
                    <p>中国地震工程力学研究所</p>
                    <p>http://www.iem.net.cn</p>
                </div>
                <div class="contactlist">
                	<h1>联系地址</h1>
                    <p>哈尔滨市南岗区学府路29号</p>
                    <p>邮编：150080</p>
                </div>
                <div class="contactlist">
                	<h1>电子邮件</h1>
                    <p>您可以发送邮件至<a href="mailto:iem_SABPE@163.com">iem_SABPE@163.com</a>与我们联系，反馈您的问题，也可通过加入QQ群299651432，进行咨询</p>
                </div>
            </div>
        </div>
    </div>
    <div class="detail right">
    	<div class="title">当前用户信息</div>
        {%if savesuc%}
             <p id="suc" style="color:red;font-size:22px;text-align:center;">{{savesuc}}<p>
        {%endif%}
      <form action="" method="POST" name="user_edit_form">
        
       	<div class="cdetail udetail">

			<h3>修改用户信息<span>（用户基础信息，请慎重填写）</span></h3>
            <p><label><span>*</span>用户名：</label><span>{{user.username}}</span></p>
            <p class="right"><a href="javascript:;"><img src="{%static 'img/a.png'%}" width="100px" height="100px" /></a></p>
            <p><label><span>*</span>姓名：</label><input type="text" class="b name" name ="userrealname" value="{{user.userrealname}}" /><span class="tip">请输入姓名</span></p>
            <span class="wrongtip" id="uniname"></span>
            <p><label>身份证号：</label><input type="text" name = "useridcard" value="{{user.useridcard}}" class="b id" /><span class="tip">请输入身份证号</span></p>
            <span class="wrongtip" id="jyuseridcard"></span>
            <p>
            	<label><span>*</span>专业：</label>
                <input type="text" class="b selectskin" id="sskin_zy" style="width:250px;" value="{{user.profession}}" name="profession"/>
                <img src="{%static 'img/select_arrow.png'%}" class="sbtn">
                <select data="sskin_zy" class="b select setinput sbtns" ><option>防灾减灾及防护工程</option><option>结构工程</option><option>岩土工程</option><option>市政工程</option><option>桥梁和隧道工程</option></select><span class="tip">请选择专业</span>
            </p>
           
            <p>
            	<label><span>*</span>单位：</label>
                <input type="text" class="b selectskin" id="sskin_dw" style="width:250px;" value="{{user.danwei}}" name="danwei"/>
                <img src="{%static 'img/select_arrow.png'%}" class="sbtn">
                <select data="sskin_dw" class="b select setinput sbtns" ><option>中国地震局</option><option>中国地震局工程力学研究所</option><option>中国地震局地球物理研究所</option><option>中国地震局地质研究所</option><option>中国地震局地壳应力研究所</option><option>中国地震灾害防御中心</option><option>中国地震台网中心</option></select><span class="tip">请选择单位</span>
            </p>
            
            <p>
            	<label><span>*</span>职称：</label>
                <input type="text" class="b selectskin" id="sskin_zc" value="{{user.title}}" style="width:250px;" name="title"/>
                <img src="{%static 'img/select_arrow.png'%}" class="sbtn">
            	<select data="sskin_zc" class="b select setinput sbtns" ><option>研究员</option><option>副研究员</option><option>助理研究员</option><option>实习研究员</option><option>研究生</option><option>无</option></select><span class="tip">请输请选择职称</span>
            </p>
            
            <h3>修改联系方式<span>（用户联系方式，请填写真实信息，以便我们与您取得联系）</span></h3>
            <p><label><span>*</span>通信地址：</label></label><input type="text" class="b address"   value ="{{user.address}}" name="address"/><span class="tip">请输入联系地址</span></p>
            <p><label><span>*</span>邮政编码：</label><input type="text" class="b code" value="{{user.zipcode}}" name ="zipcode"/><span class="tip">请输入邮政编码</span></p>
            <span class="wrongtip" id="jyzipcode"></span>
            <p><label><span>*</span>手机号码：</label><input type="text" class="b phone" value="{{user.telnum}}" name="telnum"/><span class="tip">请输入手机号码</span></p>
            <span class="wrongtip" id="jytelnum"></span>
            <p><label><span>*</span>保密邮箱：</label></label><input type="text" class="b email" value="{{user.email}}" name="email"/><span class="tip">请输入保密邮箱</span></p>
            <span class="wrongtip" id="jyemail"></span>
        </div>
        <div class="btn">
            
            <input name="imgbtn" type="image" src="{%static 'img/save.png'%}" alt ="保存" title="保存">
            </div>
      </form>
    </div>
</div>
{% endblock%}
{%block js%}
<script type="text/javascript" src="{%static 'script/jquery-1.7.min.js'%}"></script>
<script type="text/javascript" src="{%static 'script/heustudio.jquery.min.js'%}"></script>
{%endblock%}