<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>地震管理系统</title>
<link href="{% static 'css/public.css'%}" charset="utf-8" rel="stylesheet" />
<link href="{% static 'css/index.css'%}" charset="utf-8" rel="stylesheet" />
<style type="text/css">
    .helps{ border:1px solid #72c4fe; border-top:none;line-height:30px;}
    .helps .hover{ color:#2779aa; font-weight:bold;}
    .helps > li > .t{ border-bottom:1px solid #d5f5ff; padding-left:25px; background:url(../img/ico_plus.png) 10px 11px no-repeat;}
    .helps > li > .hover{background:url(../img/ico_minus.png) 10px 13px no-repeat;}
    .helps > li .items li{ padding:0 20px 0 35px;background:url(../img/arrowg.png) 25px 13px no-repeat;}
    .helpinfo{ border:1px solid #72c4fe; border-top:none; min-height:560px;line-height:30px; padding:0 15px 20px;}
    .helpinfo h3{ font-size:20px; color:#2779aa; padding:20px 0; text-align:center; border-bottom:1px dashed #e6e6e6; font-weight:inherit;}
    .helpinfo p{ text-indent:2em; font-size:14px; margin-top:20px; line-height:25px;}
</style>
<script language="javascript"> 
    location.hash="#help11"
    location.hash="#help12"
    location.hash="#help13"
    location.hash="#help14"
    location.hash="#help15"
    location.hash="#help21"
    location.hash="#help23"
    location.hash="#help31"
    location.hash="#help32"
    location.hash="#help33"
    location.hash="#help331"
    location.hash="#help332"
    location.hash="#help333"
    location.hash="#help334"
    location.hash="#help335"
    location.hash="#help336"
    location.hash="#help337"
    location.hash="#help338"
    location.hash="#help34"
    location.hash="#help341"
    location.hash="#help342"
    location.hash="#help343"
    location.hash="#help344"
    location.hash="#help345"
    location.hash="#help35";  
</script>
</head>
<body>

<div class="body"> 
    <div class="detail">   
	  <div class="title">系统帮助详情</div>
	  <div class="iframecontent">
        <div class="helpinfo">
            <a id = "help11">
            <h3>地震成因及类型</h3></a>
            <p>地震又称地动、地振动，是地壳快速释放能量过程中造成振动，期间会产生地震波的一种自然现象。地震常常造成严重人员伤亡，能引起火灾、水灾、有毒气体泄漏、细菌及放射性物质扩散，还可能造成海啸、滑坡、崩塌、地裂缝等次生灾害。</p>
            <p>地球上每年约发生500多万次地震，即每天要发生上万次地震。其中绝大多数太小或太远以至于人们感觉不到；真正能对人类造成严重危害的地震大约有一二十次；能造成特别严重灾害的地震大约有一两次。人们感觉不到的地震，须用地震仪才能记录下来；不同类型的地震仪能记录不同强度、不同远近的地震。目前世界上运转着数以千计的各种地震仪器日夜监测着地震的动向。</p>
            <p>地震分为天然地震和人工地震两大类。此外，某些特殊情况下也会产生地震，如大陨石冲击地面(陨石冲击地震)等。引起地球表层振动的原因很多，根据地震的成因，可以把地震分为以下几种：<br>
            （1）构造地震 
            由于地下深处岩石破裂、错动把长期积累起来的能量急剧释放出来，以地震波的形式向四面八方传播出去，到地面引起的房摇地动称为构造地震。这类地震发生的次数最多，破坏力也最大，约占全世界地震的90%以上。<br>
            （2）火山地震 
            由于火山作用，如岩浆活动、气体爆炸等引起的地震称为火山地震。只有在火山活动区才可能发生火山地震，这类地震只占全世界地震的7%左右。<br>
            （3）塌陷地震 
            由于地下岩洞或矿井顶部塌陷而引起的地震称为塌陷地震。这类地震的规模比较小，次数也很少，即使有，也往往发生在溶洞密布的石灰岩地区或大规模地下开采的矿区。<br>
            （4）诱发地震
            由于水库蓄水、油田注水等活动而引发的地震称为诱发地震。这类地震仅仅在某些特定的水库库区或油田地区发生。<br>
            （5）人工地震
            地下核爆炸、炸药爆破等人为引起的地面振动称为人工地震。 人工地震是由人为活动引起的地震。如工业爆破、地下核爆炸造成的振动；在深井中进行高压注水以及大水库蓄水后增加了地壳的压力，有时也会诱发地震。</p>
        <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
	  
	  
        <div class="helpinfo">
            <a id = "help12"> <h3>地震分布</h3></a>
            <h5>世界地震分布</h5>
            <p>地震带是地震集中分布的地带，在地震带内地震密集，在地震带外，地震分布零散。</p>
            世界上主要有三大地震带：<br>
            经科学家研究,全球主要地震活动带有三个：<br>
            1. 环太平洋地震带：即太平洋的周边地区,包括南美洲的智利、秘鲁、北美洲的危地马拉、墨西哥、美国等国家的西海岸、阿留申群岛、千岛群岛、日本列岛、琉球群岛以及菲律宾、印度尼西亚和新西兰等国家和地区。这个地震带是地震活动最强烈的地带,全球约80%的地震都发生在这里。<br>
            2. 欧亚地震带：该带从欧洲地中海经希腊、土耳其、中国的西藏延伸到太平洋及阿尔卑斯山,也称地中海－喜马拉雅地震带。这个带全长两万多公里，跨欧、亚、非三大洲,占全球地震的15%。<br>
            3. 海岭地震带：分布在太平洋、大西洋、印度洋中的海岭（海底山脉）。
            用地震仪测出的地震,每年全球约50万次,其中有感地震10万次,造成破坏的1000次,而7级以上,足以造成巨大灾害的有十几次。20世纪,世界上已经发生了11次大的地震,造成巨大的伤亡。2000年全球发生7级以上地震19次,其中7.3级以上10次。

            <p><h5>中国地震分布</h5>
            我国位于世界两大地震带――环太平洋地震带与欧亚地震带之间，受太平洋板块、印度板块和菲律宾海板块的挤压，地震断裂带十分活跃。中国的地震活动主要分布在五个地区的23条地震带上。这五个地区是：①台湾省及其附近海域；②西南地区，主要是西藏、四川西部和云南中西部；③西北地区，主要在甘肃河西走廊、青海、宁夏、天山南北麓；④华北地区，主要在太行山两侧、汾渭河谷、阴山-燕山一带、山东中部和渤海湾；⑤东南沿海的广东、福建等地。中国的台湾省位于环太平洋地震带上，西藏、新疆、云南、四川、青海等省区位于地中海—喜马拉雅地震带上，其他省区处于相关的地震带上。
            中国主要地震带分布如下：<br>
            1. 台湾省及其附近海域：台湾西部带，台湾东部带。<br>
            2. 西南地区 包括武都-马边带，康定-甘孜带，安宁河谷带，滇东带，滇西带，腾冲-澜沧带，西藏察隅带，西藏中部带。<br>
            3. 西北地区 包括银川带，六盘山带，天水-兰州带，河西走廊带，塔里木南缘带，南天山带，北天山带。<br>
            4. 华北地区（含东北南部） 包括郯城-庐江带（沿郯庐断裂，从安徽庐江经山东郯城，穿越渤海至辽东半岛、沈阳一带），燕山带，河北平原带（太行山东麓），山西带（主要沿汾河地堑），渭河平原带（主要沿渭河地堑）。<br>
            5. 东南沿海地区 包括东南沿海带（主要在福建及广东潮汕地区）。
            除去上述，还有东北深震带（主要在吉林、黑龙江的东部）。<br></p>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
	  
	  	
        <div class="helpinfo">
            <a id="help13"><h3>如何判断地震大小</h3><a>
            目前衡量地震规模的标准主要有震级和烈度两种。
            <p><h5>地震震级</h5>
            地震震级是根据地震时释放的能量的大小而定的。一次地震释放的能量越多，地震级别就越大。目前人类有记录的震级最大的地震是1960年5月22日智利发生的9.5级地震，所释放的能量相当于一颗1800万吨炸药量的氢弹，或者相当于一个100万千瓦的发电厂40年的发电量。2008年汶川地震所释放的能量大约相当于90万吨炸药量的氢弹，或100万千瓦的发电厂2年的发电量（本人估算，仅供参考）。</p>
            <p>目前国际上一般采用美国地震学家查尔斯•弗朗西斯•芮希特和宾诺•古腾堡（Beno Gutenberg）于1935年共同提出的震级划分法，即现在通常所说的里氏地震规模。里氏规模是地震波最大振幅以10为底的对数，并选择距震中100千米的距离为标准。里氏规模每增强一级，释放的能量约增加32倍，相隔二级的震级其能量相差1000 (~ 32 x 32)倍。</p>
            <p>小于里氏规模2.5的地震，人们一般不易感觉到，称为小震或者是微震；里氏规模2.5-5.0的地震，震中附近的人会有不同程度的感觉，称为有感地震，全世界每年大约发生十几万次；大于里氏规模5.0的地震，会造成建筑物不同程度的损坏，称为破坏性地震。里氏规模4.5以上的地震可以在全球范围内监测到。有记录以来，历史上最大的地震是发生在1960年5月22日19时11分南美洲的智利，根据美国地质调查所，里氏规模竟达9.5。</p>
            <p><h5>地震烈度</h5>
            中国百年大地震一览图同样大小的地震，造成的破坏不一定是相同的；同一次地震，在不同的地方造成的破坏也不一样。为了衡量地震的破坏程度，科学家又“制作”了另一把“尺子”一一地震烈度。在中国地震烈度表上，对人的感觉、一般房屋震害程度和其他现象作了描述，可以作为确定烈度的基本依据。影响烈度的因素有震级、震源深度、距震源的远近、地面状况和地层构造等。</p>
            <p>一般情况下仅就烈度和震源、震级间的关系来说，震级越大震源越浅、烈度也越大。一般来讲，一次地震发生后，震中区的破坏最重，烈度最高；这个烈度称为震中烈度。从震中向四周扩展，地震烈度逐渐减小。所以，一次地震只有一个震级，但它所造成的破坏，在不同的地区是不同的。也就是说，一次地震，可以划分出好几个烈度不同的地区。这与一颗炸弹爆后，近处与远处破坏程度不同道理一样。炸弹的炸药量，好比是震级；炸弹对不同地点的破坏程度，好比是烈度。
            如，1990年2月10日，常熟-太仓发生了5.1级地震，有人说在苏州是4级，在无锡是3级，这是错的。无论在何处，只能说常熟-太仓发生了5.1级地震，但这次地震，在太仓的沙溪镇地震烈度是6度，在苏州地震烈度是4度，在无锡地震烈度是3度。还有就是2008年5月12日的四川汶川发生了8级大地震，造成了很大的损失。</p>
            <p>在世界各国使用的有几种不同的烈度表。西方国家比较通行的是改进的麦加利烈度表，简称M.M.烈度表，从1度到12度共分12个烈度等级。日本将无感定为0度，有感则分为I至Ⅶ 度，共8个等级。前苏联和中国均按12个烈度等级划分烈度表。中国2008年重新编订了地震烈度表（见表）。
                <!-- <div class="right excel">
                <input type="button" value="下载该表" />
              </div> -->
            </p>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
	  
	  
        <div class="helpinfo">
            <a id="help14"><h3>我国地震灾害及特点</h3></a>
            <p>我国地处环太平洋地震带与欧亚地震带之间，地震区域广阔而分散，地震频繁而强烈，其中发生在人烟稠密之处者，损失惨重，是世界上地震灾害最严重的国家之一。</p>
            <p>我国地震灾害的特点：<br>
            1. 我国地震活动水平高，1900年至2000年我国发生的地震次数M5—5.9：2661次，M6—6.9：679次，M7—7.9：109次，M8以上：9次。分布范围广，历史记载，全国有34个省、自治区直辖市发生过5级以上的地震，22个省发生过6级以上的地震，11个省发生过7级以上地震，10省发生过8级以上的地震。<br>
            2. 我国地震强度大，1831年至今，已知发生8级以上地震达20次，本世纪以来全球大陆7级以上强震，我国占35%；全球3次8.5级以上巨大地震，有2次在我国，1920年宁夏海原8.5级地震和1950年西藏察隅墨脱8.5级地震。<br>
            3. 我国地震灾害严重，主要表现为受灾范围广，死亡人数多。建国以来我国因地震死亡人数近30万人，占全部自然灾害死亡人数的54%，20世纪中国地震死亡人数占世界总地震死亡人数的51%，死亡人数在20万以上的地震2次，全部在中国。<br></p>
            <p>例如：1976年7月28日北京时间凌晨3时42分，在中国河北省境内，人口达百余万的工业城市--唐山市发生了里氏7.8级强烈地震。震中位置是在市区东南部位，震源深约11公里，有明显的地震断裂贯穿全市。据统计，在唐山的地震中死亡人数达24万2千，重伤达16万4千，灾情之重，为世界地震史上所罕见。</p>
        <!-- <div style="float:right;margin-top:30px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
		</div>

	  
        <div class="helpinfo">
            <a id="help15"><h3>地震发生时须知</h3></a>
            <h5>地震发生时的9条须知</h5>
            <h6>1. 摇晃时立即关火，失火时立即灭火</h6>
            大地震时，也会有不能依赖消防车来灭火的情形。因此，我们每个人关火、灭火的这种努力，是能否将地震灾害控制在最小程度的重要因素。从平时就养成即便是小的地震也关火的习惯吧。为了不使火灾酿成大祸，家里人自不用说，左邻右舍之间互相帮助，厉行早期灭火是极为重要的。地震的时候，关火的机会有三次：第一次机会 在大的晃动来临之前的小的晃动之时在感知小的晃动的瞬间，即刻互相招呼：“地震！快关火！”，关闭正在使用的取暖炉、煤气炉等。第二次机会 在大的晃动停息的时候在发生大的晃动时去关火，放在煤气炉、取暖炉上面的水壶等滑落下来，那是很危险的。大的晃动停息后，再一次呼喊：“关火！关火！”，并去关火。第三次机会 在着火之后即便发生失火的情形，在1-2分钟之内，还是可以扑灭的。为了能够迅速灭火，请将灭火器、消防水桶经常放置在离用火场所较近的地方。
            <h6>2. 不要慌张地向户外跑</h6>
            地震发生后，慌慌张张地向外跑，碎玻璃、屋顶上的砖瓦、广告牌等掉下来砸在身上，是很危险的。此外，水泥预制板墙、自动售货机等也有倒塌的危险，不要靠近这些物体。
            <h6>3. 将门打开，确保出口</h6>
            钢筋水泥结构的房屋等，由于地震的晃动会造成门窗错位，打不开门，曾经发生有人被封闭在屋子里的事例。请将门打开，确保出口。
            平时要事先想好万一被关在屋子里，如何逃脱的方法，准备好梯子、绳索等。
            <h6>4. 户外的场合，要保护好头部，避开危险之处 </h6>
            当大地剧烈摇晃，站立不稳的时候，人们都会有扶靠、抓住什么的心理。身边的门柱、墙壁大多会成为扶靠的对象。但是，这些看上去挺结实牢固的东西，实际上却是危险的。
            在1987年日本宫城县海底地震时，由于水泥预制板墙、门柱的倒塌，曾经造成过多人死伤。务必不要靠近水泥预制板墙、门柱等躲避。
            在繁华街、楼区，最危险的是玻璃窗、广告牌等物掉落下来砸伤人。要注意用手或手提包等物保护好头部。
            此外，还应该注意自动售货机翻倒伤人。
            在楼区时，根据情况，进入建筑物中躲避比较安全。
            <h6>5. 在百货公司、剧场时依工作人员的指示行动</h6>
            在百货公司、地下街等人员较多的地方，最可怕的是发生混乱。请依照商店职员、警卫人员的指示来行动。就地震而言，据说地下街是比较安全的。即便发生停电，紧急照明电也会即刻亮起来，请镇静地采取行动。如发生火灾，即刻会充满烟雾。以压低身体的姿势避难，并做到绝对不吸烟。
            乘电梯的话
            在发生地震、火灾时，不能使用电梯。万一在搭乘电梯时遇到地震，将操作盘上各楼层的按钮全部按下，一旦停下，迅速离开电梯，确认安全后避难。高层大厦以及近来的建筑物的电梯，都装有管制运行的装置。地震发生时，会自动的动作，停在最近 的楼层。万一被关在电梯中的话，请通过电梯中的专用电话与管理室联系、求助。
            <h6>6. 汽车靠路边停车，管制区域禁止行驶</h6>
            发生大地震时，汽车会象轮胎泄了气似的，无法把握方向盘，难以驾驶。必须充分注意，避开十字路口将车子靠路边停下。为了不妨碍避难疏散的人和紧急车辆的通行，要让出道路的中间部分。都市中心地区的绝大部分道路将会全面禁止通行。充分注意汽车收音机的广播，附近有警察的话，要依照其指示行事。有必要避难时，为不致卷入火灾，请把车窗关好，车钥匙插在车上，不要锁车门，并和当地的人一起行动。
            <h6>7. 务必注意山崩、断崖落石或海啸</h6>
            在山边、陡峭的倾斜地段，有发生山崩、断崖落石的危险，应迅速到安全的场所避难。在海岸边，有遭遇海啸的危险。感知地震或发出海啸警报的话，请注意收音机、电视机等的信息，迅速到安全的场所避难
            <h6>8. 避难时要徒步，携带物品应在最少限度</h6>
            因地震造成的火灾，蔓延燃烧，出现危机生命、人身安全等情形时，采取避难的措施。避难的方法，原则上以市民防灾组织、街道等为单位，在负责人及警察等带领下采取徒步避难的方式，携带的物品应在最少限度。绝对不能利用汽车、自行车避难。对于病人等的避难，当地居民的合作互助是不可缺少的。从平时起，邻里之间有必要在事前就避难的方式等进行商定。
            <h6>9. 不要听信谣言，不要轻举妄动</h6>
            在发生大地震时，人们心理上易产生动摇。为防止混乱，每个人依据正确的信息，冷静地采取行动，极为重要。从携带的收音机等中，把握正确的信息。相信从政府、警察、消防等防灾机构直接得到的信息，决不轻信不负责任的流言蜚语，不要轻举妄动。地震是自然界10大灾害之一，也是损失最为严重的灾难，带给社会和人们的是破坏和毁灭。目前，人类对地震的预报，仍然是一道尚未攻克的科学难题。中共中央、国务院对地震预报工作极为重视，我国地震工作者经过30多年的不懈努力，在成功地预报地震上，积累了丰富而宝贵的经验。现在全国建有400多个台站，网点2000多个。广西建有观测台站29个，观测网点50多个，观测项目39项。筑起了一道保护国家财产和人民生命安全的防护网。 同时，防震减灾贯彻的是以“预防为主，防御与救助相结合”的方针，重点抓好防震减灾宣传工作和建设工程地震安全性评价和抗震设防工作是我们克尽职守的天职。一旦地震发展，国家和各级人民政府会很快实施地震紧急求援工作，全力抢救受害的群众，保一方平安。
            <p>家庭防震的重点，主要是保证震时和震后如何有条不紊地进行家庭的防震救灾。根据各家不同情况，可采取以下措施：<br>
            1)学习地震知识，掌握科学的自防自救方法。<br>
            2)分配每人震时的应急任务，以防手忙脚乱， 耽误宝贵时间。<br>
            3)确定疏散路线和避震地点，要作到畅通无阻。<br>
            4)加固室内家俱杂物，特别是睡觉的地方， 更要采取必要的防御措施。<br>
            5)落实防火措施，防止炉子、煤气炉等震时翻倒； 家中易燃物品要妥善保管；浴室、水桶要储水，准备防火用沙；学习必要的防火、灭火知识。<br>
            6)学会并掌握基本的医疗救护技能，如人工呼吸、 止血、包扎、搬运伤员和护理方法等。<br>
            7)适时进行家庭应急演习， 以发现弥补避震措施中的不足之处和正确识别地震,建筑物要有坚固的地基,如果某些动物反常在道路上狂奔,这是地震的预兆,要即使让人们离开建筑物到空旷的地方去。要做到预测到以后以最快的速度让人民知道,及时疏散开,减小人的损失。</p>
        <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>

	  
        <div class="helpinfo">
            <a id="help21"><h3>系统介绍</h3></a>
          <p>地震现场建筑物安全鉴定系统是基于网络的开放系统，其功能是辅助专业鉴定人员或公众快速、高效、科学的进行地震现场建筑物安全鉴定。系统的核心理论是由中国地震局工程力学研究所孙柏涛研究员，基于丰富的地震现场经验，结合科学定量化的鉴定方法所完成的研究工作。用户可以通过网络免费注册使用本系统，也可以游客身份登录学习体验系统功能。</p>
        
        <h3>系统开发背景</h3>
          <p>据国内外的震害经验分析，地震造成的生命和财产的损失最主要原因是房屋建筑的破坏和倒塌。多次地震应急救灾的实践证明，在地震应急期间，在地震现场快速、及时、高效地做好受震房屋建筑安全鉴定工作，是妥善安置灾民的一条有效途径。能有效避免震后灾民大量居住防震棚而带来的诸多安全隐患；也可防止在强余震的情况下随意居住不安全房屋所造成的二次灾害；有力地保障灾区人民的生命和财产安全，减少人员伤亡和经济损失；并对恢复正常的社会秩序、维护社会的稳定起到重要作用；同时也为应急期间较为准确地确定人力、物力和财力的投入，避免不必要的浪费，使之用在更需要的地方提供了依据。因此，地震现场建筑物安全鉴定是地震应急期间开展抗震救灾工作的一项紧迫而重要的任务。</p>
        <p>在历次地震现场均采用了基于专家经验的主观定性快速评估方法。专家通过观察震后房屋出现的一些破坏特征，同时考虑地震作用、建筑物的使用性质和原抗震设防能力，以及场地、地基和毗邻震害的影响等诸多因素来对受震建筑的安全性进行综合判断。专家经验法要求地震现场建筑物安全性鉴定工作人员有丰富的地震现场工作经验和扎实的工程理论功底。由于地震是小概率事件，相关专业的技术人员实践和培训的机会很少，所以，我国有限的现场鉴定专家数量制约了进行该项工作的效率，远远无法满足灾区人民的实际需求。而且专家经验法往往会因专家在知识背景、工作经验和认识上的差异导致得出的鉴定结论也因人而异。</p>
        <p>基于上述矛盾，孙柏涛课题组建立一套定量化的理论模型以及免费开放的地震现场建筑物安全性鉴定系统，使地震现场建筑物房屋安全性鉴定人员、一般土木工程技术人员以及受灾群众分享到该领域专家的知识和经验，提高地震现场建筑物安全鉴定工作效率和鉴定结果的科学和可靠性。该系统是将根据《地震现场工作第二部分：安全鉴定》 GB18208.2-2001的房屋安全鉴定条文进行算法的量化研究嵌入到系统中内，开发成易于操作的软件平台，旨在为一般的专业人员或者现场受灾人群可以通过网络进入本系统按提示对受损房屋鉴定。</p>
        <h3>系统介绍</h3>
          <p>2001年8月1日开始实施的国家标准《地震现场工作第二部分：建筑物安全鉴定》（GB18208.2- 2001），使地震现场对受震房屋的安全性鉴定工作初步达到了规范化和标准化程度，使今后的安全鉴定工作有章可循，有法可依。其后，孙柏涛课题组提出了一种基于国家标准的定量化思想，结合实际震害和专家经验建立了基于层次分析法的房屋震损鉴定的数学评价模型，并于2010年基于VB语言开发了单机版和PDA版的地震现场建筑物安全鉴定系统V1.0，2011年开发了基于网络的地震现场建筑物安全鉴定系统V2.0。</p>
            <p>汶川地震、玉树地震以及芦山地震为我们积累了大量的震害资料。因此，基于对震害认识的加深，我们对建筑物安全鉴定理论模型以及评价参数都做了改进。基于最新改进的理论模型和评价参数等内核的改进，我们继续开发了地震现场建筑物安全鉴定系统V3.0，提高了系统的可用性。</p>
            <p>本着提高安全鉴定科学性、准确性、高效性，节省鉴定成本，普及鉴定知识的目的，本网络版的地震现场建筑物安全鉴定系统供鉴定人员免费注册使用。系统使得土木工程方向的技术人员或一般民众能分享到地震现场专家经验，可以独立上网注册使用，完成地震应急期受损房屋鉴定的任务；专家人员可以利用本系统提高鉴定效率。系统的广泛使用将缓解我国地震现场专业鉴定人员少、多数人震害经验缺乏的弊端，对推动地震现场房屋安全鉴定工作起到积极的作用。</p>
            <p>地震现场建筑物安全鉴定理论方法及系统的研究已经有十余年，其间我们在不断改进模型方法以及系统。希望各位用户在使用本系统过程中积极向我们反馈系统建议，使我们更好地完善本系统，为用户提供一个更为高效方便的安全鉴定系统。</p>
            <p><h3>联系我们</h3>
            单位名称：中国地震局工程力学研究所 <br>
                地址：黑龙江省哈尔滨市南岗区学府路29号 <br>
                邮编：150080 <br>
                网址：www.iem.net.cn <br>
                Email：iem_SABPE@163.com <br>
                QQ咨询群：299651432
            </p> 

        <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
	  
		<div class="helpinfo">
		 <a id="help23"><h3>系统运行环境</h3></a>
        待完善
        <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
    </div>
	  
	  
        <div class="helpinfo">
        <a id="help31"><h3>软件使用流程</h3></a>
          <p><h5>（1）系统注册和登录</h5>
          新用户注册：用户可以点击“新用户注册”进入注册界面，可以根据自己的资料注册为一般用户或专家用户。<br>
            系统登录：用户输入账号和密码可进行系统登录，也可以以游客的身份不用注册直接登录。</p>
            <p><h5>（2）建筑物安全鉴定</h5>
            用户前台界面信息采集：通过选择地震信息采集鉴定的地震信息，然后通过输入建筑物基本信息、环境信息、预期地震作用采集建筑物及环境的基本信息。当环境信息和预期信息影响满足要求，则继续输入建筑物震损信息。<br>
            后台模型计算及处理：将采集到的信息在后台进行模型分析计算，将建筑物震损状况进行量化分析。<br>
            结果输出：支持用户对结果的Excel、Word文档的输出，Word中可以插入震损图片。</p>
            <p><h5>（3）鉴定结果统计分析</h5>
            信息查询：对所有鉴定的建筑物房屋按照某种条件进行查询及查询结果的统计并将其以Excel表输出，将结果以总表Word文档的形式进行输出。<br>
            功能分析：将按照某些条件查找到的建筑物房屋按照某些字段进行统计分析，并输出统计分析结果（柱状图、饼状图）。<br>
            地图导航：功能是将鉴定的建筑点在地图上表示出来，定位其地理位置。</p>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>

	  
        <div class="helpinfo">
            <a id="help32"><h3>界面帮助</h3></a>
          <h4>（1）选择地震信息界面帮助：</h4>
        主要功能：被鉴定建筑物所属地震进行选择输入 。<br>
        使用方法介绍如下： <br>
        1.  地震信息显示：缓存地震/已选择地震的基本信息，包括地震编号、地震名称、发震日期、发震时间、震源深度、地震等级、震中经度、震中纬度、震中烈度、震源机制以及备注说明。<br>
        2.  选择其它地震：当前页面中蓝底色显示的为页面上方地震信息显示的地震。用户可以选择被鉴定建筑物所属地震，可以通过筛选条件搜索选择。<br>
        3.  地震信息在后台进行管理。<br>
        4.  点击“下一步”，进入选择结构类型界面。<br>
        <h4>（2）选择结构类型界面帮助</h4>
        主要功能：选择被鉴定建筑物的结构类型。<br>
        使用方法介绍如下： <br>
        1.  选择结构类型：用户选择左侧被鉴定建筑物的结构类型，页面的右侧相应的显示此结构类型的图文介绍，包括概念、建筑构造和震害。<br>
        2.  结构类型的简称：结构类型的标题栏同时提供了结构类型的简称，在建筑物编号中有显示，用户可以据此进行模糊查询。<br>
        3.  结构类型信息在后台进行管理。<br>
        4.   点击“下一步”，进入建筑物基本信息界面。<br>
        <h4>（3）建筑物基本信息界面帮助</h4>
        主要功能：对所选择结构的建筑物基本信息进行输入，或在页面缓存的基础上对建筑物基本信息进行修改。<br>
        使用方法介绍如下： <br>
        1.  建筑物基本信息：标题后方字体显示为所选择的建筑物结构类型，基本信息包括基本信息、建筑物用途、建筑物位置、参数地区选择和抗震设防状况。<br>
        2.  建筑物编号、栋数、建成年份、建筑物名称、房主、建筑面积、建筑物主体层数和局部层数：这些信息除了建筑物编号都是需要您根据新的鉴定具体进行选择或输入，其中房屋编号是自动获得的，其命名规则为：结构类型简称 +鉴定人员编码+地震编号+鉴定日期和实践+鉴定人员对这次鉴定的编号组成的字符串。<br>
        3.  建筑物用途：这里是根据具体的鉴定对象选择与其一致的用途，用途一次只能选择一种。<br>
        4.  建筑物位置：包括建筑物所在经纬度、建筑物地点、行政区编码。中心经纬度可点击“获取中心经纬度按钮”自动获取；点击“切换为度分秒/度格式”可以再输入经纬度时切换输入格式。建筑物地点在经纬度的基础上自动获取，用户可以在自动获取的基础上修改。行政区编码为自动获取，点击“查询”按钮，可以查询修改。<br>
        5.  抗震设防状况：有两种选择，有抗震设防时选择抗震设防，否则选择未经抗震设防。<br>
        6.  抗震设防烈度：只有在抗震设防状况中选择抗震设防时才有必要选择也只有此时才能够选择抗震设防烈度。<br>
        7.  图片、视频：页面的右侧为输入建筑物图片和视频的按钮，图片是现场鉴定的一些有用的图片，用户可以点击进行输入，同时可以实时点击播放图片。视频是对安全鉴定有用的视频输入，用户输入后可以实时查看。<br>
        8.  点击“下一步”，进入环境信息/预期地震界面。<br>
        <h4>（4）环境影响/预期地震作用界面帮助</h4>
        主要功能：选择被鉴定建筑物的环境影响与预期地震作用情况。<br>
        使用方法介绍如下： <br>
        1.  场地影响、地基状况、毗邻建筑：这些都是鉴定时可以选择的因素，并且这三个主要因素中包括一系列更细的因素，在每个主要因素中都可以选择一个或多个鉴定的条件，若想选择哪个因素只需要选中该因素前的方框。<br>
        2.  环境影响的不同因素的详细介绍帮助，点击其后的帮助按钮即可查看。<br>
        3.  预期地震作用、既发地震烈度：这些也是鉴定时可以选择的因素，其中预期地震作用包括大震作用、小震作用两个方面，每类因素每次只能选择一个作为鉴定条件，若想选择哪个因素只需要选中该因素前的圆框。<br>
        4.  大震作用和小震作用是互斥的关系，当选择大震的时候，小震框中的选择项处于不能选的状态，当重新选小震时，可以点击大震框中的“无”选择钮；反之类同。<br>
        5.  点击“下一步”，进入细部震损信息界面。<br>
        <h4>（5）细部震损信息界面帮助</h4>
        主要功能：针对被鉴定建筑物的结构类型，选择相关的震损状态信息,从而进行安全鉴定。<br>
        使用方法介绍如下： <br>
        1.  当点击左边框中不同部位中的不同子因素时，右边滑动窗口的顶部会定位到该子因素所指定的选择框的集合，同时左边框标题的标记发生变化，表示该子因素已经做过选择。<br>
        2.  根据左侧框中各种不同的部位选择评价系数对应的条件，对于每一种部位的每种因素选择方式是数量与程度的组合排列，并且数量与程度每次只能分别选择一种情况或都不选，于是有十种选择方式：无震损，即都不选；个别、轻微;个别、中等;个别、严重; 少数、轻微;少数、中等;少数、严重;多数、轻微;多数、中等;多数、严重。<br>
        3.  “无震损”按钮：当选择以上除第一种组合的其他任一种组合后，发现应该是第一组合形式，既无震损的情况，此时可以点击该按钮来取消选择的情况。<br>
        4.  微调功能：每个子因素均有微调功能，微调功能选项受“描述”部分的限制，当描述部分有内容时，该部分显示亮色，此时可以对描述部分的内容对应的评价系数值进行设定，设定方式：可以直接输入评价系数值，或按0.03的微调量进行递增或递减，否则，该部分显示暗色，表示不可操作。<br>
        5.  下面固定窗体中显示的是上面选择的内容，当选择某种震损情况时该窗体中会立即显示出相应的震损内容。<br>
        6.  “帮助”按钮指的是对相应子因素的震损情况的详细说明，当点击该按钮时，会出现“查看”、“编辑”两种情况，即可以查看或更新相应的震损情况的帮助文档，但进行更新操作时有权限的限制。<br>
        7.   “安全鉴定”按钮：当被鉴定建筑物的震损信息输入完成后，点击“安全鉴定”即可对建筑物进行安全鉴定，同时界面跳转到鉴定结果界面，得到整体震损指数，破坏等级，房屋是否可用等情况。
        <h4>（6）生成鉴定结果界面帮助</h4>
        主要功能：显示房屋的安全鉴定结果。<br>
        使用方法介绍如下： <br>
        1.  整体震损指数：是根据安全鉴定公式计算出来的结果，这里对结果的精度要求是保留到小数点后三位数字。<br>
        2.  安全类别、破坏等级：是根据整体震损指数与判断标准相比较得出的结论，判断标准由专家设定。<br>
        3.  鉴定日期：是根据系统中的时间自动形成的。<br>
        4.  “LOGO文档”按钮：显示鉴定结果对应的LOGO文档，主要是打印出来粘贴在鉴定的房屋之上，显示表示该房屋的可用性、鉴定人员、鉴定单位等信息。<br>
        5.  “生成报表”按钮：以pdf的形式显示这次鉴定的基本信息，该单表可以下载和打印。<br>
        6.   “插入图片”按钮：是把左边导入的图片插入到鉴定意见表中，这些图片主要是对震损状态的显示，即对应于鉴定意见表的说明部分的内容。<br>
        7.  “打印”按钮：就是对LOGO文档或鉴定意见表进行打印。<br>
        8.  点击“继续鉴定下一栋”，则建筑物跳转到选择结构类型界面，即本次鉴定建筑物与上一栋建筑物属于同一次地震下，不再重复选择；点击“返回首页”，则跳转到首页，开始新的鉴定流程；点击“统计分析”，则跳转到统计分析模块，对结果进行分析。<br>
        <h4>（7）注册界面使用帮助</h4>
        待补充
        <h4>（8）统计分析界面帮助</h4>
        主要功能：对所有鉴定的建筑物房屋按照某种条件进行查询及查询结果的统计并将其以Excel表输出，将结果以总表Word文档的形式进行输出。<br>
        对该模块的具体使用方法介绍如下： <br>
        1.  信息查询：建筑物列表显示的为用户账户下所鉴定的所有建筑物信息，可按照某些查询条件查询建筑物；<br>
        重新编辑建筑点：该按钮的作用就是对列表框中某挑选中的记录重新编辑，即对该记录对应的建筑点的基本信息、环境影响/预期地震作用、震损状态等信息进行更新。<br>
        删除建筑物：删除某条鉴定记录，包括建筑物的所有信息和鉴定结果；<br>
        导出Excel：功能就是将查询出来的结果以Excel表的形式输出，并且输出项是可选择的，并在相应的界面中选择。<br>
        导出word：功能是将查询结果以Word的形式输出，该Word模版以标准的地震现场建筑物安全鉴定意见表界定。<br>
        2.  功能分析：按照某些条件对被鉴定建筑物进行统计分析，可以输出鉴定结果（柱状图/饼状图、表格）。<br>
        3.  地图导航：功能是将鉴定的建筑点在地图上表示出来，定位其地理位置。<br>
       <!--  <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>

        <div class="helpinfo">
        <a id="help331"><h3>多层砌体房屋</h3></a>
          <h5>1.1 结构定义</h5>
          <h5>1.2 结构构造</h5>
          <h5>1.3 结构抗震设防</h5>
          <h5>1.4 结构震害实例</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>

        <div class="helpinfo">
        <a id="help332"><h3>多层和高层钢筋混凝土房屋</h3></a>
          <h5>1.1 结构定义</h5>
          <p>钢筋混凝土框架结构是由框架梁柱和钢筋混凝土楼板组成的结构，即由梁和柱组成框架共同抵抗水平荷载和竖向荷载。通常情况下结构的墙体不承重，仅起围护和分隔的作用，多采用预制的加气混凝土、膨胀珍珠岩的空心砖或多孔砖，浮石、蛭石、陶粒等轻质板材或普通砖等材料砌筑或装配而成。</p>
          <h5>1.2 结构构造</h5>
          <h5>1.3 结构抗震设防</h5>
          <p>震害调查表明，框架结构震害的严重部位多发生在框架梁柱节点和填充墙处。一般是柱的震害重于梁，柱顶的震害重于柱底、角柱的震害重于内柱、短柱的震害重于一般柱，为此采取了一系列措施。把框架设计成延性框架，遵守强柱、强节点、强锚固，避免短柱、加强角柱，框架沿高度不宜突变，避免出现薄弱层，控制最小配筋率，限制配筋最小直径。构造上采取受力筋锚固适当加长，节点处箍筋适当加密等措施。</p>
          <h5>1.4 结构震害实例</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>

        <div class="helpinfo">
        <a id="help333"><h3>底层框架房屋</h3></a>
          <h5>1.1 结构定义</h5>
          <h5>1.2 结构构造</h5>
          <h5>1.3 结构抗震设防</h5>
          <h5>1.4 结构震害实例</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help334"><h3>内框架房屋</h3></a>
          <h5>1.1 结构定义</h5>
          <h5>1.2 结构构造</h5>
          <h5>1.3 结构抗震设防</h5>
          <h5>1.4 结构震害实例</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help335"><h3>单层钢筋混凝土柱厂房</h3></a>
          <h5>1.1 结构定义</h5>
          <h5>1.2 结构构造</h5>
          <h5>1.3 结构抗震设防</h5>
          <h5>1.4 结构震害实例</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help336"><h3>单层砖柱厂房和空旷房屋</h3></a>
          <h5>1.1 结构定义</h5>
          <h5>1.2 结构构造</h5>
          <h5>1.3 结构抗震设防</h5>
          <h5>1.4 结构震害实例</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help337"><h3>木结构房屋</h3></a>
          <h5>1.1 结构定义</h5>
          <h5>1.2 结构构造</h5>
          <h5>1.3 结构抗震设防</h5>
          <h5>1.4 结构震害实例</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help338"><h3>土石墙房屋</h3></a>
          <h5>1.1 结构定义</h5>
          <h5>1.2 结构构造</h5>
          <h5>1.3 结构抗震设防</h5>
          <h5>1.4 结构震害实例</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>

        <div class="helpinfo">
        <a id="help341"><h3>场地影响</h3></a>
          <h5>1.1 场地失稳</h5>
          <p>场地失稳：工程单体及工程群体所在地丧失了或逐渐减少了承载能力；</p>
          <h5>1.2 滑坡</h5>
          <p>滑坡是指斜坡上的土体或者岩体，受河流冲刷、地下水活动、雨水浸泡、地震及人工切坡等因素影响，在重力作用下，沿着一定的软弱面或者软弱带，整体地或者分散地顺坡向下滑动的自然现象。俗称“走山”、“垮山”、“地滑”、“土溜”等。（引自百度百科）
滑坡是斜坡岩土体沿着贯通的剪切破坏面所发生的滑移地质现象。滑坡的机制是某一滑移面上剪应力超过了该面的抗剪强度所致。（引自《地质灾害勘察规范》2008）
</p>
          <h5>1.3 塌岸</h5>
          <p>塌岸是指河湖或水库岸坡，在地表水流冲蚀、地下水潜蚀或地震作用下所造成的岸坡变形和破坏现象。（参考百度百科， “或地震作用下”后添加的）</p>
          <h5>1.4 砂土液化</h5>
          <p>地震时，由于瞬间突然受到巨大地震力的强烈作用，砂土层中的空隙水来不及排出，空隙压突然升高，致使砂土层突然呈现出液态的物理形状，导致地基承载力大大下降，使地面建筑物在形成的流砂中下沉，产生极大的破坏。一般认为，地震时的喷砂冒水现象，也是埋在地下的砂土层产生液化的结果与之相关的宏观现象有喷砂冒水、岸堤滑塌和地面开裂下沉等。</p>
          <h5>1.5 岩、土体崩塌</h5>
          <p>土地崩塌是较陡斜坡上的岩土体在重力作用下突然脱离母体崩落、滚动、堆积在坡脚（或沟谷）的地质现象。（引自百度百科）</p>
          <h5>1.6 水患</h5>
          <p>即水灾，由于降雨过多导致发洪水带来的一系列自然灾害，如决堤、淹没房屋庄稼等。在地震发生时，滑坡、泥石流可能会将河流阻断，形成堰塞湖，造成某一地区洪水爆发，有可能会伴随连续暴雨，短时间内降水过多，也会造成水患。</p>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help342"><h3>地基状况</h3></a>
          <h5>1.1 持力土层不稳</h5>
          <p>持力土层不稳是指直接承受基础荷载的土层不能保持其支撑的上部结构的稳定性。地震发生时，强烈地震力的作用可能会使直接承受基础荷载的土层超过其承受限度，产生持力土层失去或丧失承载力的现象。</p>
          <h5>1.2 地基滑移</h5>
          <h5>1.3 不均匀沉降</h5>
          <p>不平均沉降，亦作不均匀沉陷，是一种通常出现于堆填土地的现象，是反映土木工程结构基础的变性特征的重要指标。不平均沉降若出现在路面上，可能会引致路面下陷。而建筑物的地基若产生不平均沉降的现象，更会危及建筑物的安全。（引自叶志明《土木工程概论》）（隐）
由于地震作用导致地基各处沉降量不同.建筑物一般总会产生一定的沉降，软弱地基上的建筑物更容易产生不均匀沉降。过大的不均匀沉降易使上部结构开裂与破坏，造成建筑物各处渗水、下水道堵塞不畅等，严重影响建筑物的使用。对于多层砌体结构，由于砌体的抗拉、抗剪强度较低，在地基沉降时，很易在墙体上产生斜裂缝或踏步式裂缝，窗洞的四角部位尤其厉害；
</p>
          <h5>1.4 承载力下降</h5>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help343"><h3>毗邻建筑</h3></a>
          <h5>1.1 毗邻建筑震损危及被鉴定建筑物</h5>
          <p>一般是指被鉴定建筑物周围的建筑物的安全性比被鉴定建筑物低，并且建筑间距离很近。当地震发生时，被鉴定建筑物周围的建筑物先发生损坏，其损坏的部件对被鉴定建筑物造成破坏。如周围的建筑物倒塌将被鉴定建筑物压坏等。</p>
          <h5>1.2 毗邻建筑震损不影响被鉴定建筑物</h5>
          <p>地震时，如果被鉴定建筑物周围的建筑物由于地震作用发生破坏，但其绝对不会对被鉴定建筑物造成破坏或构成威胁。</p>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help344"><h3>既发地震烈度</h3></a>
          <p>指当前发生地震建筑物所在地的烈度。</p>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
        <div class="helpinfo">
        <a id="help345"><h3>预期地震烈度</h3></a>
          <p>依据震情分析，预估受震建筑可能行将再次遭受到的地震作用：
            震后影响强度较既发地震作用小的地震影响，简称为小震作用；
            震后影响强度与既发地震作用大致同等或更大的地震影响,简称为大震作用。
            受震建筑可按地震作用为小震和大震作安全鉴定,一般情况下,可依一种地震作用进行,当有两种震情分析意见时,可依影响较强烈的地震作用进行.符合预期地震作用为大震的安全鉴定要求的受震建筑,在小震的地震中也为安全建筑。</p>
            <!-- <div style="float:right;margin-top:-10px;">
            <a href=""><img src="{%static 'img/print.png'%}" /></a>
            <a href="" ><img src="{%static 'img/download.png'%}" /></a>
        </div> -->
        </div>
	  </div>
    </div> 
</div>


</div>
<link href="{% static 'script/jquery-1.7.min.js'%}" charset="utf-8" rel="stylesheet" />
<link href="{% static 'script/heustudio.jquery.min.js'%}" charset="utf-8" rel="stylesheet" />
</body>
</html>
