{% extends "transport/base.html" %}
{% load staticfiles %}
{% block title %}地震管理系统{% endblock %}
{% block l_title %}欢迎使用地震现场建筑物安全鉴定系统{% endblock %}
{% block css%}
<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet" />{%endblock%}
{% block body_block %}
<div class="body">
	<div class="sidebar left">
    	<div class="logininfo">
        	<div class="title">登录信息</div>
            <div class="infos">
            	<p class="welcome">尊敬的用户<span>{{userrealname}}</span>您好：</p>
                <hr />
				<p><strong>编号：</strong>{{userid}}</p>
				<p><strong>职称：</strong>{{title}}</p>
				<p><strong>单位：</strong>{{danwei}}</p>
				<hr />
                <p>上次登录信息：<span class="welcome">{{lastlogintime|date:"Y-m-d-H:i"}}</span></p>
				<p >{{lastloginaddress}} 第<strong>{{logincount}}</strong>次登录本系统</p>
            </div>
        </div>
        <div class="app">
        	<div class="title">应用入口</div>
            <ul class="infos">
            	<li><a href="{% static 'file/地震现场工作 第二部分 建筑物安全鉴定.pdf'%}" target="_blank"><img src="{% static 'img/1.png' %}" alt="" title="" /></a><br /><a href="{% static 'file/地震现场工作 第二部分 建筑物安全鉴定.pdf'%}" target="_blank">鉴定规范</a></li>
                <li><a href="{% static 'file/四川省芦山“4·20”7.0级强烈地震建筑物震害图集.pdf'%}" target="_blank"><img src="{% static 'img/2.png' %}" alt="" title="" /></a><br /><a href="{% static 'file/四川省芦山“4·20”7.0级强烈地震建筑物震害图集.pdf'%}" target="_blank">芦山图集</a></li>
                <li><a href="/t/help" target="_blank"><img src="{% static 'img/3.png' %}" alt="" title="" /></a><br /><a href="/t/help" target="_blank">系统帮助</a></li>
                <li><a href="/t/danjiban" target="_blank"><img src="{% static 'img/4.png' %}" alt="" title="" /></a><br /><a href="/t/danjiban" target="_blank">单机版系统</a></li>
                <li><a href="http://www.pgyer.com/Wf3S" target="_blank"><img src="{% static 'img/5.png' %}" alt="" title="" /></a><br /><a href="http://www.pgyer.com/Wf3S" target="_blank">安卓客户端</a></li>
                <li><a href="http://www.pgyer.com/Fzfp" target="_blank"><img src="{% static 'img/6.png' %}" alt="" title="" /></a><br /><a href="http://www.pgyer.com/Fzfp" target="_blank">IOS客户端</a></li>
            </ul>
        </div>
        <div class="contact">
        	<div class="title">联系方式</div>
            <div class="infos">
            	<p><b>单位名称：</b>中国地震工程力学研究所</p>
				<p><b>通信地址：</b>哈尔滨市南岗区学府路29号</p>
				<p><b>邮编：</b>150080</p>
				<p><b>网站地址：</b>http://www.iem.net.cn</p>
				<p><b>E-mail：</b>iem_SABPE@163.com </p>
				<p><b>QQ咨询群：</b>299651432</p>
            </div>
        </div>
    </div>
    <div class="content right">
    	<div class="title">建筑物安全鉴定流程</div>
       	<div class="readme">
			<div class="img"><img src="{% static 'img/flow.png' %}" alt="" title="" /></div>
            <div class="tip desc">
              <div class="name left">鉴定<br />说明</div>
              <div class="text left">上图所示为地震现场建筑物安全鉴定系统流程图，在进行安全鉴定之前请仔细阅读图中的流程，按照流程所示进行安全鉴定工作。在鉴定过程中若发现任何问题，请以在线交流或者邮件的方式与我们的技术人员取得联系，欢迎加入QQ咨询群进行交流。</div>
            </div>
            <div class="tip state">
              <div class="name left">责任<br />声明</div>
              <div class="text left">（1）本系统仅适用于震后地震应急期内对预期的地震作用小于既发地震作用时的受震建筑物进行安全鉴定。若系统用于因其他原因造成的建筑物破坏的鉴定，不保证鉴定结果的可靠性。（2）本系统的鉴定结果仅供参考，并不作为震后房屋是否继续使用的决定性依据。（3）任何商业行为或者学术研究因使用本系统的鉴定结果而产生法律纠纷，本系统将不承担任何责任。如有任何疑问，欢迎访问地震现场建筑物安全鉴定网站www.buildingsafe.cn或www.housesafe.cn 进行咨询。</div>
            </div>
        </div>
        <div class="btn"><a href="/t/checkup"><img src="{% static 'img/begin.gif' %}" alt="点击开始鉴定" title="点击开始鉴定" /></a></div>
    </div>
</div>
{% endblock %}