{% extends "transport/base.html" %}
{% load staticfiles %}
{% block title %}地震管理系统{% endblock %}
{% block l_title %}关于系统{% endblock %}
{% block css%}<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet" />
<style type="text/css">
    .helpinfo{ border:1px solid #72c4fe; border-top:none; min-height:560px;line-height:30px; padding:0 15px 20px;}
    .helpinfo h3{ font-size:20px; color:#2779aa; padding:20px 0; text-align:center; border-bottom:1px dashed #e6e6e6; font-weight:inherit;}
    .helpinfo p{ text-indent:2em; font-size:14px; margin-top:20px; line-height:25px;}
</style>
{%endblock%}
{% block body_block %}
<div class="body">
    <div class="helpinfo">
    <h3>关于系统</h3>
          <p>地震现场建筑物安全鉴定系统功能是辅助专业鉴定人员或受灾群众在地震现场对受震建筑物进行安全鉴定，提供其鉴定结果，对地震应急期被鉴定建筑物能否居住给出评判建议。系统的核心理论是由中国地震局工程力学研究所孙柏涛研究员基于丰富的地震现场经验进行的科学定量化的鉴定方法研究工作。用户可以通过网络免费注册使用本系统，也可以游客身份登录体验系统功能。</p>
        
        <h3>系统开发背景</h3>
          <p>据国内外的震害经验分析，地震造成的生命和财产的损失最主要原因是房屋建筑的破坏和倒塌。多次地震应急救灾的实践证明，在地震应急期间，在地震现场快速、及时、高效地做好受震房屋建筑安全鉴定工作，是妥善安置灾民的一条有效途径。能有效避免震后灾民大量居住防震棚而带来的诸多安全隐患；也可防止在强余震的情况下随意居住不安全房屋所造成的二次灾害；有力地保障灾区人民的生命和财产安全，减少人员伤亡和经济损失；并对恢复正常的社会秩序、维护社会的稳定起到重要作用；同时也为应急期间较为准确地确定人力、物力和财力的投入，避免不必要的浪费，使之用在更需要的地方提供了依据。因此，地震现场建筑物安全鉴定是地震应急期间开展抗震救灾工作的一项紧迫而重要的任务。</p>
        <p>在历次地震现场均采用了基于专家经验的主观定性快速评估方法。专家通过观察震后房屋出现的一些破坏特征，同时考虑地震作用、建筑物的使用性质和原抗震设防能力，以及场地、地基和毗邻震害的影响等诸多因素来对受震建筑的安全性进行综合判断。专家经验法要求地震现场建筑物安全性鉴定工作人员有丰富的地震现场工作经验和扎实的工程理论功底。由于地震是小概率事件，相关专业的技术人员实践和培训的机会很少，所以，我国有限的现场鉴定专家数量制约了进行该项工作的效率，远远无法满足灾区人民的实际需求。而且专家经验法往往会因专家在知识背景、工作经验和认识上的差异导致得出的鉴定结论也因人而异。</p>
        <p>基于上述矛盾，孙柏涛课题组建立一套定量化的理论模型以及免费开放的地震现场建筑物安全性鉴定系统，使地震现场建筑物房屋安全性鉴定人员、一般土木工程技术人员以及受灾群众分享到该领域专家的知识和经验，提高地震现场建筑物安全鉴定工作效率和鉴定结果的科学和可靠性。</p>
        <h3>系统介绍</h3>
        <h6>1 建筑物安全鉴定规范</h6>
        <p>2001年8月1日开始实施的国家标准《地震现场工作第二部分：建筑物安全鉴定》（GB18208.2- 2001），使地震现场对受震房屋的安全性鉴定工作初步达到了规范化和标准化程度，使安全鉴定工作有章可循，有法可依。2013年开始了《地震现场工作第二部分：建筑物安全鉴定》规范第二版本的修订工作。</p>
        <h6>2 单机版和PDA版地震现场建筑物安全鉴定系统V1.0</h6>
        <p>其后，孙柏涛课题组提出了一种基于国家标准的定量化思想，结合实际震害和专家经验建立了基于层次分析法的房屋安全鉴定数学评价模型。并以本数学模型为理论核心，于2008年基于VB语言开发了单机版和PDA版的地震现场建筑物安全鉴定系统V1.0。单机版软件已在我国地震行业震后应急工作中投入使用并取得了一定的减灾效果。</p>
        <h6>3 网络版地震现场建筑物安全鉴定系统V2.0</h6>
        <p>在实际应用中发现了单机版系统的一些问题和不足，例如单机版要求每位用户都安装程序，系统中的模型计算参数不能及时更新，并且基础数据的收集和鉴定信息的共享困难等。基于上述矛盾，孙柏涛课题组于2010年继续开发了网络版地震现场建筑物安全鉴定系统V2.0。</p>
        <h6>4 改进的网络版地震现场建筑物安全鉴定系统V3.0</h6>
        <p>汶川地震、玉树地震以及芦山地震为我们积累了大量的震害资料和地震现场经验。因此，基于对震害和安全鉴定认识的加深，我们对建筑物安全鉴定理论模型以及评价参数做修正研究工作。课题组以此修正的数学模型研究为核心理论基础，于2013年开始继续开发地震现场建筑物安全鉴定系统V3.0。</p>
        <p>本着提高安全鉴定科学性、准确性、高效性，节省鉴定成本，普及鉴定知识的目的，本网络版的地震现场建筑物安全鉴定系统供鉴定人员免费注册使用。系统使得土木工程方向的技术人员或一般民众能分享到地震现场专家经验，可以独立上网注册使用，完成地震应急期受损房屋鉴定的任务；专家人员可以利用本系统提高鉴定效率。系统的广泛使用将缓解我国地震现场专业鉴定人员少、多数人震害经验缺乏的弊端，对推动地震现场房屋安全鉴定工作起到积极的作用。</p>
        <p>地震现场建筑物安全鉴定理论方法及系统的研究已经有十余年，其间我们在不断改进量化算法以及系统。希望各位用户在使用本系统过程中积极向我们反馈系统意见和建议，使我们能更好地完善本系统，为用户提供一个更为高效方便的安全鉴定系统平台。</p>
            <p><h3>联系我们</h3>
            单位名称：中国地震局工程力学研究所 <br>
                地址：黑龙江省哈尔滨市南岗区学府路29号 <br>
                邮编：150080 <br>
                网址：www.iem.net.cn <br>
                Email：iem_SABPE@163.com <br>
                QQ咨询群：299651432
            </p>    
</div>
</div>
{% endblock%}
{%block js%}
<script type="text/javascript" src="{% static 'script/jquery-1.7.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script/heustudio.jquery.min.js'%}"></script>
{%endblock%}