<html>
{% load static %}
<style>
@font-face {
    font-family: simsun;
    src: url({%static 'file/simsun.ttc'%});
}

body { 
		font-family: simsun; 
		font-size: 15px; 
		font-weight: normal; 
		margin: 0; 
		padding: 0;
		line-height: 200%;
	}
/*@page {
			background: url("1.png");
			@frame text {
				top: 2cm;
				left: 0.5cm;
				right: 0.5cm;
				bottom: 2cm;
				-pdf-frame-border: 1;
			}
       }*/
</style>
<body>
	<div align="center" style="font-size: 30px;font-weight:bold">
		安&nbsp全&nbsp建&nbsp筑
	</div>
	<div align="center" style="font-size: 15px;font-weight:bold">
		在地震应急期允许居住及使用
	</div>
	<div align="right">
		鉴定日期：<u>2014/11/14</u><br>鉴定时间：<u>19:28</u>
	</div>
	<table>
		<tr>
			<td style="cellPadding:50px">建筑物名称：<u>&nbsp剑阁中学第二教学楼&nbsp</u></td>
			<td>鉴定人员：<u>&nbsp&nbsp张磊&nbsp&nbsp</td>
		</tr>
		<tr>
			<td>建筑物地址：<u>&nbsp四川省广元市剑阁县普安镇&nbsp</u></td>
			<td>所属单位：<u>&nbsp中国地震局工程力学研究所&nbsp</td>
		</tr>
		<tr>
			<td>建筑物破坏等级：<u>&nbsp轻微破坏&nbsp</u></td>
			<td>鉴定单位：<u>&nbsp黑龙江省对口援助剑阁县房屋安全鉴定组&nbsp</td>
		</tr>
		<tr>
			<td>鉴定评价：<u>&nbsp本建筑物在非承重墙体部位产生个别轻<br>微斜裂缝和个别中等框架缝,未危及整个建筑物的<br>安全，建筑物的安全类别为：可用。</td>
			<td>（注意：鉴定后若发生较大余震，可能<br>给建筑物造成新的震损及危险）</td>
		</tr>
	</table>
	<div align="center">
		未经鉴定部门批准，禁止移动、修改或覆盖此标识！
	</div>
</body>
</html>