{% extends "transport/base.html" %}
{% load staticfiles %}
{% block title %}地震管理系统{% endblock %}
{% block l_title %}用户注册 →  填写账户信息{% endblock %}
{% block css%}<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet" />{%endblock%}
{% block body_block %}
<div class="body">
    <ul class="reg_step_navi">
        <li class="current">填写账户信息<em></em></li>
        <li>填写详细信息<em></em></li>
        <li>注册成功<em></em></li>
        <li>用户激活</li>
    </ul>
    <div class="steps">
        <div class="reg_title">账户信息</div>
        <div class="step1 uinfo">

            <form action="/t/register_info1/" method="post">
                <p><label>用户类别：</label><input type="radio" name="clazz" value="1" />一般用户<input type="radio" name="clazz" value="2" />专家用户</p>
                <p><label><span>*</span>用户ID：</label><input type="text" class="inptxt" id="userid" data="userid" name="userid"/><span class="tip tipusername" >请输入12位用户ID</span></p>
                <span class="wrongtip" id="uidmsg"></span>
                <p><label><span>*</span>用户名：</label><input type="text" class="inptxt" id="username" data="username" name="username" /><span class="tip tipusername">由字母、数字或"_"组成，长度不少于6位，不多于30位</span></p>
                <span class="wrongtip"></span>
                <p><label><span>*</span>密码：</label><input type="password" class="inptxt" id="password" data="pass" name="password" /><span class="tip tippass">不少于6位字符</span></p>
                <span class="wrongtip"></span>
                <p><label><span>*</span>确认密码：</label><input type="password" class="inptxt" id="rpassword" data="rpass" name='rpassword'/><span class="tip tiprpass">请再次输入密码</span></p>
                <span class="wrongtip"></span>
                <p><label><span>*</span> 验证码：</label><input type="text"  class="inptxt code" id="code" data="code" /> <img src="{% static 'img/auth.jpg'%}" class="authcode" /></p>
                <span class="wrongtip"></span>
                <p><span class="agreement"><input type="checkbox" id="agreement" />&nbsp;我已阅读并同意遵守《<a href="javascript:;">服务条款</a>》</span></p>
                <p><span class="agreement"><input class="btn reg_btn" type="submit" value="同意协议并注册" /></span></p>
            </form>
        </div>
    </div>
</div>
{% endblock%}
{%block js%}
<script type="text/javascript" src="{% static 'script/jquery-1.7.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script/heustudio.jquery.min.js'%}"></script>
{%endblock%}