{% extends "transport/base.html" %}
{% load staticfiles %}
{% block title %}地震管理系统{% endblock %}
{% block css%}<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet" />{%endblock%}
{% block body_block %}
<div class="body">
    <ul class="reg_step_navi">
        <li class="current">密码重置<em></em></li>
        <li class="current">成功<em></em></li>
    </ul>
    <div class="steps">
        <div class="reg_title">账户信息</div>
        <div class="step1 uinfo success">
            <h3>密码重置成功</h3>
            <p><a class="btn login_email_btn" href="/t" >登录</a></p>
        </div>
    </div>
</div>
{% endblock%}
{%block js%}
<script type="text/javascript" src="{% static 'script/jquery-1.7.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script/resetPass.js'%}"></script>
{%endblock%}