{% extends "transport/base.html" %}
{% load staticfiles %}
{% block title %}地震管理系统{% endblock %}
{% block css%}<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet" />{%endblock%}
{% block body_block %}
<div class="body">
    <ul class="reg_step_navi">
        <li class="current">填写账户信息<em></em></li>
        <li>验证密保<em></em></li>
        <li>密码找回<em></em></li>
    </ul>
    <div class="steps">
        <div class="reg_title">账户信息</div>
        <div class="step1 uinfo">
        {%if show%}
            <p id="messageShow" style="color:red;font-size:22px;text-align:center;">{{show}}</p>
        {%endif%}
            <form action="/n/forgotPass1" method="POST" name="form1">
                <p><label><span>*</span>请填写用户名：</label><input type="text" class="inptxt" id="username" data="" name="username" /><span class="tip tipusername" >
                   <input type="radio" name="check" value="email" checked="checked" />邮箱验证
                   <input type="radio" name="check" value="phone" /> 电话验证 
                <p><span class="agreement"><input class="btn reg_btn" type="submit" value="下一步" /></span></p>
            </form>
        </div>
    </div>
</div>
{% endblock%}
{%block js%}
<script type="text/javascript" src="{% static 'script/jquery-1.7.min.js'%}"></script>
<script type="text/javascript" src="{% static 'script/retriPass.js'%}"></script>
{%endblock%}