{% extends "transport/base.html" %}
{% load staticfiles %}
{% block l_title %}用户中心 → 当前用户信息{% endblock %}
{% block css%}
<link href="{% static 'css/index.css' %}" type="text/css" rel="stylesheet" />{%endblock%}
{% block body_block %}
<div class="body">
	<div class="sidebar left">
    	<div class="baseinfo">
        	<div class="title centert">基本信息</div>
            <div class="infos option">
            	<p class="f hover"><a href="user">当前用户信息</a></p>
                <p><a href="edituser">修改用户信息</a></p>
                <p><a href="editpass">修改登录密码</a></p>
                <p><a href="propass">申请密码保护</a></p>
                <p><a href="message">给管理员留言</a></p>
            </div>
        </div>
        <div class="contact">
        	<div class="title centert">联系方式</div>
            <div class="infos">
            	<div class="contactlist f">
                	<h1>单位信息</h1>
                    <p>中国地震工程力学研究所</p>
                    <p>http://www.iem.net.cn</p>
                </div>
                <div class="contactlist">
                	<h1>联系地址</h1>
                    <p>哈尔滨市南岗区学府路29号</p>
                    <p>邮编：150080</p>
                </div>
                <div class="contactlist">
                	<h1>电子邮件</h1>
                    <p>您可以发送邮件至<a href="mailto:iem_SABPE@163.com">iem_SABPE@163.com</a>与我们联系，反馈您的问题，也可通过加入QQ群299651432，进行咨询</p>
                </div>
            </div>
        </div>
    </div>
    <div class="detail right">
    	<div class="title">当前用户信息</div>
       	<div class="cdetail udetail">
			<h3>基础信息</h3>
            <p><label>用户名：</label><span>{{username}}</span></p>
            <p class="right"><a href="javascript:;"><img src="{% static 'img/a.png'%}" width="100px" height="100px" /></a></p>
            <p><label>姓名：</label>{{userrealname}}</p>
            <p><label>身份证号：</label></p>
            <p><label>专业：</label>{{profession}}</p>
            <p><label>单位：</label>{{danwei}}</p>
            <p><label>职称：</label>{{title}}</p>
            
            <h3>联系方式</h3>
            <p><label>联系地址：</label>{{address}}</p>
            <p><label>邮政编码：</label>{{zipcode}}</p>
            <p><label>手机号码：</label>{{telnum}}</p>
            <p><label>保密邮箱：</label>{{email}}</p>
        </div>
    </div>
</div>
{%endblock%}
