<html>
<style>
@font-face {
    font-family: simsun;
    src: url(E:\Django-project\dlsPro\static\file\simsun.ttc);
}

body { 
		font-family: simsun; 
		font-size: 15px; 
		font-weight: normal; 
		margin: 0; 
		padding: 0;
		line-height: 180%;
		font-weight:bold;
	}
table{
	height:18px;
}
</style>
<script language="javascript">
  function get_time()
  {
    var date=new Date();
    var year="",month="",day="",week="",hour="",minute="",second="";
    year=date.getFullYear();
    month=add_zero(date.getMonth()+1);
    day=add_zero(date.getDate());
    week=date.getDay();
    switch (date.getDay()) {
    case 0:val="周日";break
    case 1:val="周一";break
    case 2:val="周二";break
    case 3:val="周三";break
    case 4:val="周四";break
    case 5:val="周五";break
    case 6:val="周六";break
      }
    hour=add_zero(date.getHours());
    minute=add_zero(date.getMinutes());
    second=add_zero(date.getSeconds());
    document.getElementById("timetable").innerHTML=" "+year+"-"+month+"-"+day+" "+hour+":"+minute+":"+second+" "+val;
  }

  function add_zero(temp)
  {
    if(temp<10) return "0"+temp;
    else return temp;
  }
setInterval("get_time()",1000);
</script>
<body>
	<div align="center" style="font-size: 25px;">
		<strong>地震现场建筑物安全鉴定意见表</strong>
	</div>
	<div align="right" style="font-size: 12px" >
		报告生成时间：<span id="timetable"> </span>
	</div>
	<table>
		<tr>
			<td>评估人员：<u>&nbsp张磊&nbsp </u></td>
			<td>单位：<u>&nbsp中国地震局工程力学研究所&nbsp</td>
		</tr>
		<tr>
			<td>职称：&nbsp&nbsp&nbsp&nbsp<u>&nbsp其他&nbsp </u></td>
			<td>评估时间：<u>&nbsp2014年11月25日 20:25&nbsp</td>
		</tr>
	</table>
	<div align="left" style="font-weight:bold">
		1&nbsp建筑物基本资料
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0" width="100%" height="30px">
		<tr>
		<td colspan="4" valign="middle"><div align="center" style="font-weight:bold">基本信息</div></td>
		</tr>
		<tr>
		<td colspan="4">建筑物编号：RCYH001EQ001201411250005</td>
		</tr>
		<tr>
		<td colspan="3" width="50%">建筑物名称：11号楼</td>
		<td>房主姓名：从远东</td>
		</tr>
		<tr>
		<td colspan="2">建成年份：2013</td>
		<td colspan="2">建筑面积（㎡）：200</td>
		</tr>
		<tr>
		<td colspan="4">建筑物层数：主体 地上 6 层，地下 1层； 局部 6层</td>
		</tr>
		<tr>
		<td>结构类型：</td>
		<td colspan="3">多层和高层钢筋混凝土房屋</td>
		</tr>
		<tr>
		<td width="25%">建筑物用途：</td>
		<td colspan="3">工业厂房（包括轻工业厂房和重工业厂房）</td>
		</tr>
		<tr>
		<th colspan="4">建筑物位置</th>
		</tr>
		<tr>
		<td colspan="2">中心经度：126.691062</td>
		<td colspan="2">中心纬度：45.779661</td>
		</tr>
		<tr>
		<td colspan="3">建筑物地点：黑龙江省哈尔滨市南岗区文庙街</td>
		<td>行政区编码：123564</td>
		</tr>
		<tr>
		<th colspan="4">参数地区</th>
		</tr>
		<tr>
		<td>参数地区：</td>
		<td colspan="3">西北地区</td>
		</tr>
		<tr>
		<th colspan="4">抗震设防状况</th>
		</tr>
		<tr>
		<td>建筑物设防状况：</td>
		<td colspan="3">
			
				9度设防
			
		</td>
		</tr>
	</table>
	<div align="left" style="font-weight:bold">
		2&nbsp地震信息
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0" width="100%" height="30px">
	  <tr>
		<td colspan="2" align="center">地震信息</td>
	  </tr>
	  <tr>
		<td width="40%">被鉴定建筑物所属地震</td>
		<td>哈尔滨地震</td>
	  </tr>
	</table>
	<div align="left" style="font-weight:bold">
		3&nbsp预期地震影响和环境影响
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0" width="100%" height="30px">
	  <tr>
		<td colspan="3" align="center">环境影响</td>
	  </tr>
	  <tr>
		<td width="25%">类型</td>
		<td width="50%" align="center">名称</td>
		<td width="25%">描述</td>
	  </tr>
	  <tr>
		<td>毗邻建筑物影响</td>
		<td>
			
			无影响
			
		</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>场地影响</td>
		<td>
		水患
		
			
		
		
		
		无影响
		</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td>地基状况</td>
		<td>						
		
		
			
		
		无影响
		</td>
		<td>&nbsp;</td>
	  </tr>
	  <tr>
		<td colspan="3" align="center">预期地震作用</td>
	  </tr>
	  <tr>
		<td>既发地震烈度</td>
		<td colspan="2">7</td>
	  </tr>
	  <tr>
		<td>预期地震作用</td>
		<td colspan="2">小震作用0度&nbsp&nbsp大震作用9度</td>
	  </tr>
	</table>
	<div align="left" style="font-weight:bold">
		4&nbsp结构震损信息
	</div>
	<table border="1" cellspacing="0px" style="border-collapse:collapse" cellpadding="0" width="100%" height="30px">
	  <tr>
		<td colspan="5" align="center">震损信息</td>
	  </tr>
	  <tr>
		<td colspan="2" rowspan="2" align="center">部位</td>
		<td colspan="2" align="center">震损</td>
		<td rowspan="2" align="center">备注</td>
	  </tr>
	  <tr>
		<td align="center">部位因子</td>
		<td align="center">数量和程度</td>
	  </tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>柱子</td>
	  		<td>主支撑柱子出现裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>柱子</td>
	  		<td>主支撑柱子出现裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>柱子</td>
	  		<td>次支撑柱子出现裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>柱子</td>
	  		<td>剪力墙墙肢产生裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>梁</td>
	  		<td>主梁出现裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>梁</td>
	  		<td>次梁出现裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>梁柱节点</td>
	  		<td>梁-柱节点处产生裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>剪力墙</td>
	  		<td>剪力墙墙肢之间的连梁产生裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>承重部位</td>
	  		<td>主体和裙房、变形缝两侧</td>
	  		<td>变形缝处的墙体出现碰撞，影响结构承载力</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>非承重墙体部位</td>
	  		<td>填充墙、围护墙（非剪力墙）和隔墙</td>
	  		<td>填充墙、围护墙（非剪力墙）、隔墙有斜裂缝或X型裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>非承重墙体部位</td>
	  		<td>填充墙、围护墙（非剪力墙）和隔墙</td>
	  		<td>填充墙、围护墙（非剪力墙）、隔墙与框架间有裂缝（水平裂缝或垂直裂缝）</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>非承重墙体部位</td>
	  		<td>非主要支撑柱（构造柱）</td>
	  		<td>非主要支撑柱（构造柱）出现裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>楼屋盖部位</td>
	  		<td>现浇钢筋混凝土楼屋盖</td>
	  		<td>现浇混凝土楼屋面板产生裂缝</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>楼屋盖部位</td>
	  		<td>预制板楼屋盖</td>
	  		<td>预制板板间有裂缝，严重时，预制板在梁或墙上产生错动</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>室内外装饰物、非结构构件、附属结构</td>
	  		<td>室内外装饰物（吊顶等）、幕玻璃等</td>
	  		<td>预制板板间有裂缝，严重时，预制板在梁或墙上产生错动</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>室内外装饰物、非结构构件、附属结构</td>
	  		<td>室内外装饰物（吊顶等）、幕玻璃等</td>
	  		<td>幕玻璃有震裂，掉落现象</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>室内外装饰物、非结构构件、附属结构</td>
	  		<td>出屋面非结构构件</td>
	  		<td>出屋面的非结构构件（女儿墙、门脸、挑檐、雨篷等）有裂缝、移动、倾斜等震损现象</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
	  	<tr>
	  		<td>室内外装饰物、非结构构件、附属结构</td>
	  		<td>附属结构和小品</td>
	  		<td>附属建筑和小品（与钢筋混凝土房屋相贴的外廊、篷厦、外台阶、散水坡、护栏等）有震损，甚或有危及被鉴定建筑的现象</td>
	  		<td>
	  			个别<br>轻微
	  			
	  		</td>
	  		<td></td>
	  	</tr>
	  	
		<!-- <td rowspan="2" align="center">非承重墙体部位</td>
		<td rowspan="2" align="center">填充墙、围护墙<br>（非剪力墙）和隔墙</td>
		<td>填充墙、围护墙（非剪力墙）、<br>隔墙有斜裂缝或X型裂缝</td>
		<td>个别  轻微</td> -->
	  
	  <!-- <tr>
		<td >填充墙、围护墙（非剪力墙）、隔墙<br>与框架间有裂缝（水平裂缝或垂直裂缝）</td>
		<td>个别  中等</td>
	  </tr> -->
	</table>
	<div align="left" style="font-weight:bold">
		5&nbsp鉴定结果
	</div>
	<div align="left">
		鉴定结论：   可用<br>
		破坏等级：   轻微破坏<br>
		整体震损指数：0.1023<br>
		处理意见：<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u><br>
		备注：<br>
		1 本鉴定报告由地震现场建筑物安全鉴定系统自动生成。<br>
		2 本鉴定基于规范《地震现场工作 第二部分：建筑物安全鉴定 GB 18208.2 --2001》，结果仅供参考不作为任何凭证，如有任何疑问，欢迎访问地震现场建筑物安全鉴定网站<br>
		http://10.10.134.3:8080/iem_security_sys/website/index.action进行咨询。
	</div>
</body>
</html>